<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.talend.rcp.perspective.Perspective"
            icon="icons/appli_16x16.png"
            id="org.talend.rcp.perspective"
            name="Design Workspace">
      </perspective>
   </extension>
<extension
      point="org.eclipse.ui.commands">
   <category
         id="talend"
         name="Talend"/>
   <command
         id="org.talend.rcp.command.closeIntro"
         name="name">
   </command>
</extension>
<extension
      point="org.eclipse.ui.contexts">
   <context
         id="talend.global"
         name="Default"
         parentId="org.eclipse.ui.contexts.window"/>
</extension>
<extension
      point="org.talend.core.talendperspectives">
   <TalendPerspective
         refPerspectiveId="org.talend.rcp.perspective"
         talendPerspectiveId="org.talend.rcp.DesignPerspective"/>
   <TalendPerspective
         refPerspectiveId="org.eclipse.debug.ui.DebugPerspective"
         talendPerspectiveId="org.talend.rcp.DebugPerspective"/>
</extension>
<extension
      point="org.talend.core.service">
   <Service
         class="org.talend.rcp.RcpServices"
         serviceId="IRcpService">
   </Service>
   <Service
         class="org.talend.rcp.intro.ApplicationWorkbenchWindowAdvisor"
         serviceId="WorkbenchService">
   </Service>
</extension>
<extension
      point="org.eclipse.ui.bindings">
   <key
         commandId="org.talend.rcp.command.closeIntro"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="ESC">
   </key>
</extension>
</plugin>
