[miscellany]
enable-auto-props = yes

[auto-props]
*.java = svn:eol-style=LF
*.genmodel = svn:eol-style=LF
*.ecore = svn:eol-style=LF
*.css = svn:eol-style=LF
*.dtd = svn:eol-style=LF
*.sh = svn:eol-style=LF
*.xsl = svn:eol-style=LF
*.xsd = svn:eol-style=LF
*.pl = svn:eol-style=LF
*.exsd = svn:eol-style=LF
*.pm = svn:eol-style=LF
*.checkstyle = svn:eol-style=LF
*.sql = svn:eol-style=LF
*.classpath = svn:eol-style=LF
*.txt = svn:eol-style=LF
*.MF = svn:eol-style=LF
*.project = svn:eol-style=LF
*.htm = svn:eol-style=LF
*.javajet = svn:eol-style=LF
*.perljet = svn:eol-style=LF
*.properties = svn:eol-style=LF
*.html = svn:eol-style=LF
*.xml = svn:eol-style=LF
