<project name="server" default="server" basedir=".">
	<taskdef resource="net/sf/antcontrib/antcontrib.properties"/>
    <target name="os">
    	<condition property="is.unix">
    		<os family="unix"/>
    	</condition>
    	<condition property="is.windows">
    		<os family="windows"/>
    	</condition>
    </target>
	
	<!-- - - - - - - - - - - - - - - - - - 
          target: launch-zookeeper                   
         - - - - - - - - - - - - - - - - - -->
    <target name="server" depends="os">
    	<if>
    		<isset property="is.windows"/>
    		<then>
    			<exec executable="cmd" dir="${server.home}/bin"
    				spawn="true">
    				<arg value="/c"/>
					<arg value="${command}"/>
					<arg value="${action}"/>
    			</exec>
    			<echo>${server.home}/bin</echo>
    			<echo>${command}</echo>
    			<echo>${action}</echo>
    		</then>
    		
    		<else>
    			<exec executable="sh" dir="${server.home}/bin"
    				spawn="true">
    				<arg value="-c"/>
    				<arg value="sh ${command} ${action}"/>
    			</exec>
    		</else>
    	</if>
    </target>

	
	<!-- - - - - - - - - - - - - - - - - - 
          target: launch-zookeeper                   
         - - - - - - - - - - - - - - - - - -->
    <target name="server-launcher" depends="os">
    	<if>
    		<isset property="is.windows"/>
    		<then>
    			<exec executable="cmd" dir="${server.home}"
    				spawn="true">
    				<arg value="/c"/>
					<arg value="${command}"/>
					<arg value="${action}"/>
    			</exec>
    			<echo>${server.home}</echo>
    			<echo>${command}</echo>
    			<echo>${action}</echo>
    		</then>
    		
    		<else>
    			<exec executable="sh" dir="${server.home}"
    				spawn="true">
    				<arg value="-c"/>
    				<arg line="sh ${command} ${action}"/>
    			</exec>
    			<echo>${server.home}</echo>
    			<echo>${command}</echo>
    			<echo>${action}</echo>
    		</else>
    	</if>
    </target>
	
	
	<!-- - - - - - - - - - - - - - - - - - 
          target: launch-commandline                     
         - - - - - - - - - - - - - - - - - -->
	<!--
    <target name="launch-commandline" depends="os">
    	<if>
    		<isset property="is.windows"/>
    		<then>
    			<exec executable="cmd" dir="${talend-all.home}"
    				spawn="true">
    					<arg value="/c"/>
    					<arg value="${commandline.launcher}"/>
    			</exec>
    		</then>
    		
    		<else>
    			<exec executable="sh" dir="${talend-all.home}"
    				spawn="true">
    				<arg value="-c"/>
    				<arg value="chmod +x Talend-linux-gtk-x86"/>
    			</exec>
    	    	
    			<exec executable="sh" dir="${talend-all.home}"
    				spawn="true">
    				<arg value="-c"/>
    				<arg value="sh ${commandline.launcher}"/>
    			</exec>
    		</else>
    	</if>
    </target>
	-->
    <target name="launch-commandline">
    	<echo>${talend-all.home}</echo>
    	<echo>${commandline.port}</echo>
    	<echo>${commandline.ip}</echo>
		<java jar="${talend-all.home}/plugins/org.eclipse.equinox.launcher_1.1.0.v20100507.jar" 
				fork="true" spawn="true">
			<arg line="-nosplash"/>
			<arg line="-application org.talend.commandline.CommandLine"/>
			<arg line="-consoleLog"/>
			<arg line="-data commandline-one-workspace startServer"/>
			<arg line="-p ${commandline.port}"/>
			<jvmarg line="-Xms64m -Xmx768m -XX:PermSize=512m -XX:MaxPermSize=512m"/>
			</java>
		<waitfor maxwait="10" maxwaitunit="minute"  >
			<socket server="${commandline.ip}" port="${commandline.port}" />
		</waitfor>
    	<echo>---   ----- commandline.port - ${commandline.port}  is ok ----------</echo>
    </target>
	
    <target name="start-commandline">
		<echo>${basedir}</echo>
        <java classname="com.talend.tac.base.AntCommmandline">
        	<arg line="${talend-all.home} ${commandline.ip} ${commandline.port}"/>
        </java>
    </target> 
	
	<!-- - - - - - - - - - - - - - - - - - 
          target: stop-commandline                      
         - - - - - - - - - - - - - - - - - -->
    <target name="stop-commandline">
    	<echo>${basedir}</echo>
    	
    	<java jar="${jar.path}"
    		fork="true" spawn="true">
	    		<arg value="${commandline.ip}"/>
	    		<arg value="${commandline.port}"/>
	    		<arg value="stopServer"/>
    	</java>
    </target>
	
</project>

