<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension-point id="global_actions" name="Global actions" schema="schema/global_actions.exsd"/>
	<extension-point id="filepreview_provider" name="File Preview Provider" schema="schema/filepreview_provider.exsd"/>
	
   <extension-point id="repository_provider" name="Repository provider" schema="schema/repository_provider.exsd"/>
   <extension-point id="components_provider" name="Components provider" schema="schema/components_provider.exsd"/>
   <extension-point id="external_component" name="External component" schema="schema/external_component.exsd"/>
   <extension-point id="repositoryContextualsActions" name="Repository actions" schema="schema/repository_actions.exsd"/>
   <extension-point id="service" name="Service Registration" schema="schema/service.exsd"/>
   <extension-point id="migrationTask" name="Migration tool atomic task" schema="schema/migrationTask.exsd"/>
  
	
	<extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.talend.core.prefs.ui.CorePreferencePage"
            id="org.talend.core.prefs"
            name="%prefsName"/>
      <page
            category="org.talend.core.prefs"
            class="org.talend.core.prefs.ui.ColorsCodeViewerPreferencePage"
            id="org.talend.core.pref.colorcodeviewer"
            name="%prefColors"/>
   </extension> 
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.talend.core.prefs.CorePreferenceInitializer"/>
   </extension>
   <extension
         id="talendnature"
         name="Talend"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.talend.core.model.general.TalendNature"/>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.views">
               <category
            id="org.talend.core.root"
            name="Talend"/>
   </extension>
   <extension
         point="org.talend.core.migrationTask">
      <workspacetask
            class="org.talend.core.prefs.InitConnectionsMigrationTask"
            id="org.talend.core.InitConnectionsMigrationTask"
            name="Init connections preferences"/>
   </extension>

</plugin>
