<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.talend.repository.viewer.perspective.filter" name="CNF Perspective Filter" schema="schema/perspective.filter.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.talend.core.root"
            class="org.talend.repository.navigator.RepoViewCommonNavigator"
            icon="icons/repository_nav.gif"
            id="org.talend.repository.cnf.view"
            name="%RepositoryView_title"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.talend.rcp.perspective">
        <!--
         <view
               closeable="true"
               id="org.talend.repository.cnf.view"
               minimized="false"
               ratio="0.3"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         -->
      </perspectiveExtension>
   </extension>
   
   
   
   
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.talend.repository.viewer.content.RecycleBinContentProvider"
            icon="icons/recyclebinempty.png"
            id="org.talend.repository.viewer.root.recycleBin"
            labelProvider="org.talend.repository.viewer.label.RecycleBinViewLabelProvider"
            name="%RepositoryView_recyclebin"
            priority="normal">
         <triggerPoints>
            <or>
               <adapt
                     type="org.talend.core.repository.model.ProjectRepositoryNode">
               </adapt>
               <instanceof
                     value="org.talend.core.repository.model.ProjectRepositoryNode">
               </instanceof>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isRecycleBin">
                  </test>
               </and>
            </or>
         </triggerPoints>
         <possibleChildren>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isDeleted">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isRecycleBin">
                  </test>
               </or>
            </and>
         </possibleChildren>

         <actionProvider
               class="org.talend.repository.viewer.action.RecycleBinActionProvider"
               id="org.talend.repository.recyclebin.action.provider.id">
            <enablement>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isRecycleBin">
                  </test>
               </and>
            </enablement>
         </actionProvider>

      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.root.sqlTemplates"
            contentProvider="org.talend.repository.viewer.content.code.CodeTopNodeContentProvider"
            icon="icons/code.png"
            id="org.talend.repository.viewer.root.code"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="%RepositoryView_code"
            priority="high">
         <triggerPoints>
            <or>
               <adapt
                     type="org.talend.core.repository.model.ProjectRepositoryNode">
               </adapt>
               <instanceof
                     value="org.talend.core.repository.model.ProjectRepositoryNode">
               </instanceof>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isCodeTopNode">
                  </test>
               </and>
            </or>
         </triggerPoints>
         <possibleChildren>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.isCodeTopNode">
               </test>
            </and>
         </possibleChildren>
         <actionProvider
               class="org.talend.repository.viewer.action.RepoNodeActionProvider"
               id="org.talend.repository.code.action.provider.id">
            <enablement>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isCodeTopNode">
                  </test>
                  <not>
                     <test
                           forcePluginActivation="true"
                           property="org.talend.repository.node.isDeleted">
                     </test>
                  </not>
               </and>
            </enablement>
         </actionProvider>
      </navigatorContent>
   </extension>
   <extension
         name="filters"
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="org.talend.repository.viewer.action.RepoGlobalActionProvider"
            id="org.talend.repository.viewer.actionbar.global.globalAction">
         <enablement>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof></enablement>
      </actionProvider>
      <actionProvider
            appearsBefore="org.talend.repository.viewer.actionbar.menu.repositoryFilterSetting"
            class="org.talend.repository.viewer.filter.ActiveRepositoryFilterActionProvider"
            id="org.talend.repository.viewer.actionbar.menu.activeRepositoryFilter">
         <enablement></enablement>
      </actionProvider>
      <actionProvider
            class="org.talend.repository.viewer.filter.RepositoryFilterSettingActionProvider"
            id="org.talend.repository.viewer.actionbar.menu.repositoryFilterSetting">
         <enablement></enablement>
      </actionProvider>
      <actionProvider
            class="org.talend.repository.viewer.filter.PerspectiveFilterActionProvider"
            id="org.talend.repository.viewer.actionbar.menu.perspectiveFilter">
         <enablement></enablement>
      </actionProvider>
      <commonFilter
            activeByDefault="true"
            class="org.talend.repository.viewer.filter.RepositoryCommonViewerFilter"
            description="%RepositoryView_commonFilter"
            id="org.talend.repository.viewer.filter.common.commonFilter"
            name="%RepositoryView_commonFilter">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="org.talend.repository.viewer.filter.RecycleBinViewerFilter"
            id="org.talend.repository.viewer.filter.recycleBin"
            name="Recycle Bin Filter"
            visibleInUI="true">
      </commonFilter>
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.talend.repository.viewer.content.EmptyContentProvider"
            id="org.talend.repository.view.sorter.RepFolderOnTopAlways"
            labelProvider="org.talend.repository.viewer.label.EmptyLabelProvider"
            name="Repository folder on top always "
            priority="normal"
            sortOnly="true">
         <triggerPoints></triggerPoints>
         <possibleChildren></possibleChildren>
         <commonSorter
               class="org.talend.repository.viewer.ui.provider.RepFolderOnTopAlwaysViewerSorter">
            <parentExpression>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <not>
                     <test
                           property="org.talend.repository.node.metadata.isSchemaColumnFolder">
                     </test>
                  </not>
               </and>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.view.sorter.RepFolderOnTopAlways"
            contentProvider="org.talend.repository.viewer.content.EmptyContentProvider"
            id="org.talend.repository.view.sorter.noSorter4MetadataColumn"
            labelProvider="org.talend.repository.viewer.label.EmptyLabelProvider"
            name="No sorter for MetadataColumn"
            priority="normal"
            sortOnly="true">
         <triggerPoints></triggerPoints>
         <possibleChildren></possibleChildren>
         <commonSorter
               class="org.talend.repository.viewer.ui.provider.MetadataColumnViewerSorter">
            <parentExpression>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        property="org.talend.repository.node.metadata.isSchemaColumnFolder">
                  </test>
               </and>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.talend.repository.cnf.view">
         <includes>
            <actionExtension
                  pattern="org.talend.repository.viewer.actionbar.toolbar.*">
            </actionExtension>
            <actionExtension
                  pattern="org.talend.repository.viewer.actionbar.menu.*">
            </actionExtension>
            <actionExtension
                  pattern="org.talend.repository.viewer.actionbar.global.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="org.talend.repository.cnf.view">
         <includes>
            <contentExtension
                  pattern="org.talend.repository.viewer.root.*">
            </contentExtension>
            <contentExtension
                  pattern="org.talend.repository.viewer.metadata.*">
            </contentExtension>
            <contentExtension
                  pattern="org.talend.repository.viewer.code.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerContentBinding
            viewerId="org.talend.repository.cnf.view">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern=".*fake\.for\.activation">
            </contentExtension>
            <contentExtension
                  pattern="org.talend.repository.viewer.content.OemExtension.content">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerContentBinding
            viewerId="org.talend.repository.cnf.view">
         <includes>
            <contentExtension
                  pattern="org.talend.repository.viewer.filter.common.*">
            </contentExtension>
            <contentExtension
                  pattern="org.talend.repository.viewer.filter.recycleBin">
            </contentExtension>
            <contentExtension
                  pattern="org.talend.repository.view.sorter.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewer
            viewerId="org.talend.repository.cnf.view">
         <options>
            <property
                  name="org.eclipse.ui.navigator.hideAvailableCustomizationsDialog"
                  value="true">
            </property>
            <property
                  name="org.eclipse.ui.navigator.enforceHasChildren"
                  value="true">
            </property>
         </options>
      </viewer>
      <viewerContentBinding
            viewerId="org.talend.repository.cnf.view">
         <includes>
            <contentExtension
                  pattern="org.talend.repository.navigator.link.repoView">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.talend.repository.tester.RecycleBinNodeTester"
            id="org.talend.repository.node.tester.recyclebin"
            namespace="org.talend.repository.node"
            properties="isRecycleBin"
            type="org.talend.repository.model.RepositoryNode">
      </propertyTester>
      <propertyTester
            class="org.talend.repository.tester.DeletedNodeTester"
            id="org.talend.repository.node.tester.deleted"
            namespace="org.talend.repository.node"
            properties="isDeleted"
            type="org.talend.repository.model.RepositoryNode">
      </propertyTester>
      <propertyTester
            class="org.talend.repository.tester.CodeNodeTester"
            id="org.talend.repository.node.tester.code"
            namespace="org.talend.repository.node"
            properties="isCodeTopNode"
            type="org.talend.repository.model.RepositoryNode">
      </propertyTester>
      <propertyTester
            class="org.talend.repository.tester.MetadataNodeTester"
            id="org.talend.repository.node.tester.metadata"
            namespace="org.talend.repository.node"
            properties="isMetadataTopNode"
            type="org.talend.repository.model.RepositoryNode">
      </propertyTester>

   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.talend.repository.view.contribution"
            targetID="org.talend.repository.cnf.view">
         <action
               class="org.talend.repository.viewer.action.RepoRefreshAction"
               icon="icons/refresh.gif"
               id="org.talend.repository.view.refresh.action"
               label="%RepositoryView_Refresh"
               style="push"
               toolbarPath="talend.group">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.talend.repository.viewer.preference.RepoViewPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="org.talend.repository.navigator.link.RepoViewLinkHelper"
            id="org.talend.repository.navigator.link.repoView">
         <editorInputEnablement>
            <adapt
                  type="org.eclipse.ui.IEditorInput">
            </adapt>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension
         point="org.talend.core.repository.repository_node_provider">
      <repositoryNode
            folder="code"
            icon="icons/code.png"
            isResouce="false"
            key="repository.code"
            label="%RepositoryView_code"
            nodeType="STABLE_SYSTEM_FOLDER"
            ordinal="7"
            products="DI"
            type="CODE">
      </repositoryNode>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.talend.repository.tester.SchemaColumnFolderNodeTester"
            id="org.talend.repository.node.tester.metadata.schema.columnFolder"
            namespace="org.talend.repository.node.metadata"
            properties="isSchemaColumnFolder"
            type="org.talend.repository.model.RepositoryNode">
      </propertyTester>
   </extension>
</plugin>
