<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="talend"
            id="logImageCache"
            name="Log image cache"/>
      <command
            categoryId="talend"
            id="reloadSystemRoutines"
            name="Reload system routines"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="logImageCache"
            contextId="talend.global"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+F2"/>
      <key
            commandId="reloadSystemRoutines"
            contextId="talend.global"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+F5"/>
   </extension>
   <extension
         point="org.talend.core.global_actions">
      <GlobalAction class="org.talend.core.model.action.LogImageCacheAction"/>
   </extension>
</plugin>
