<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.talend.designer.maven.ui.projectsetting.initializer.MavenScriptsProjectSettingInitializer">
      </initializer>
   </extension>
   <extension
         point="org.talend.repository.projectsetting_page">
      <page
            class="org.talend.designer.maven.ui.projectsetting.BuildProjectSettingPage"
            description="Build settings"
            id="projectsetting.Build"
            title="%ProjectSettingPage.Build">
      </page>
   </extension>
   <extension
         point="org.talend.repository.projectsetting_page">
      <page
            category="projectsetting.Build"
            class="org.talend.designer.maven.ui.projectsetting.MavenProjectSettingPage"
            description="Maven Settings"
            id="projectsetting.Maven"
            title="%ProjectSettingPage.Maven">
      </page>
      <page
            category="projectsetting.Maven"
            class="org.talend.designer.maven.ui.projectsetting.job.AutonomousJobProjectSettingPage"
            description="Maven settings for Autonomous Job"
            id="projectsetting.AutonomousJob"
            title="%ProjectSettingPage.AutonomousJob">
      </page>
      <page
            category="projectsetting.AutonomousJob"
            class="org.talend.designer.maven.ui.projectsetting.job.AutonomousJobAssemblyProjectSettingPage"
            description="Assembly settings for Autonomous Job"
            id="projectsetting.AutonomousJobAssembly"
            title="%ProjectSettingPage.Assembly">
      </page>
   </extension>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.designer.maven.ui.DesignerMavenUIService"
            serviceId="IDesignerMavenUIService">
      </Service>
   </extension>
   <extension
         point="org.talend.core.repositoryContextualsActions">
      <Action
            class="org.talend.designer.maven.ui.actions.ConfigFolderLevelMavenPomAction"
            id="org.talend.designer.maven.ui.actions.ConfigFolderLevelMavenPomAction"
            isEditAction="false"
            isPropertiesAction="false"
            isReadAction="false"
            name="Config Folder Maven Pom">
      </Action>
   </extension>

</plugin>
