<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="repositoryMavenSetting" name="RepositoryMavenSetting" schema="schema/repositoryMavenSetting.exsd"/>
   <extension
         point="org.talend.repository.projectsetting_page">
      <page
            class="org.talend.designer.maven.ui.setting.project.page.BuildProjectSettingPage"
            description="Build settings"
            id="projectsetting.Build"
            title="%ProjectSettingPage_Build">
      </page>
      <page
            category="projectsetting.Build"
            class="org.talend.designer.maven.ui.setting.project.page.MavenProjectSettingPage"
            description="Maven Settings"
            id="projectsetting.Maven"
            order="99"
            title="%ProjectSettingPage_Maven">
      </page>
      <page
            category="projectsetting.Maven"
            class="org.talend.designer.maven.ui.setting.project.page.MavenDefaultProjectSettingPage"
            description="The default setting for Maven scripts"
            id="projectsetting.MavenDefault"
            order="0"
            title="%ProjectSettingPage_MavenDefault">
      </page>
      <page
            category="projectsetting.Maven"
            class="org.talend.designer.maven.ui.setting.project.page.MavenCustomSetupProjectSettingPage"
            description="Setup Custom Maven scripts by folder"
            id="projectsetting.MavenCustomSetup"
            order="99"
            title="%ProjectSettingPage_MavenCustomSetup">
      </page>
   </extension>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.designer.maven.ui.MavenUIService"
            serviceId="IMavenUIService">
      </Service>
   </extension>
   <extension
         point="org.talend.core.repositoryContextualsActions">
      <Action
            class="org.talend.designer.maven.ui.actions.ConfigFolderLevelMavenPomAction"
            id="org.talend.designer.maven.ui.actions.ConfigFolderLevelMavenPomAction"
            isEditAction="false"
            isPropertiesAction="false"
            isReadAction="false"
            name="Config Folder Maven Pom">
      </Action>
   </extension>
   <extension
         point="org.talend.designer.maven.mavenSetting">
      <ProjectSettingManager
            class="org.talend.designer.maven.ui.setting.project.MavenUiProjectSettingManagerProvider">
      </ProjectSettingManager>
   </extension>
   <extension
         point="org.talend.core.repository.login.task">
      <loginTask
            class="org.talend.designer.maven.ui.setting.preference.M2eUserSettingForTalendLoginTask"
            priority="highest">
      </loginTask>
   </extension>

</plugin>
