<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.quantum.Quantum"
   name="%quantum.name"
   version="3.0.3"
   provider-name="The QuantumDB Development Team"
   class="com.quantum.QuantumPlugin">

   <runtime>
      <library name="quantum.jar">
         <export name="*"/>
      </library>
      <library name="lib/bsh-2.0b4.jar">
         <export name="*"/>
      </library>
      <library name="lib/antlr_2.7.5.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/antlrdebug_1.0.0.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.boot"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.swt"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.gef"/>
      <import plugin="org.eclipse.search"/>
      <import plugin="org.eclipse.jdt.ui"/>
   </requires>


   <extension-point id="metadata" name="Metadata" schema="schema/metadata.exsd"/>
   <extension-point id="data" name="Data" schema="schema/data.exsd"/>

<!-- Pop-up Menus -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.sql"
            id="com.quantum">
         <menu
               label="Quantum"
               path="additions"
               id="com.quantum.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Execute Against..."
               class="com.quantum.actions.ExecuteAgainstAction"
               menubarPath="com.quantum.menu1/group1"
               enablesFor="*"
               id="com.quantum.actions.ExecuteAgainstAction">
         </action>
<!--         <action
               class="com.quantum.actions.ExplainAction"
               id="com.quantum.actions.ExplainAction"
               label="Explain"
               menubarPath="com.quantum.menu1/group1"/> -->
      </objectContribution>
   </extension>
<!--   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Execute Query"
            visible="true"
            id="com.quantum.actionssets">
         <action
               label="Execute Query"
               icon="icons/play.gif"
               class="com.quantum.actions.ExecuteAction"
               tooltip="Execute Query"
               toolbarPath="quantumGroup"
               id="com.quantum.actions.ExecuteAction">
         </action>
      </actionSet>
   </extension> -->
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%category.name"
            description="%category.description"
            id="com.quantum.category">
      </category>
      <command
            name="%command.execute.name"
            description="%command.execute.description"
            category="com.quantum.category"
            id="com.quantum.actions.ExecuteAction">
      </command>
      <keyBinding
            command="com.quantum.actions.ExecuteAction"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="com.quantum.view.sql"
            keySequence="Ctrl+Shift+Q">
      </keyBinding>
      <scope
            name="%scope.name"
            description="%scope.description"
            id="com.quantum.view.sql">
      </scope>
   </extension>
<!-- Perspective -->
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.name"
            icon="icons/quantum.gif"
            class="com.quantum.perspective.DBPerspective"
            id="com.quantum.dbperspective">
      </perspective>
   </extension>
<!-- Views -->
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%category.name"
            id="com.quantum.views">
      </category>
      <view
            name="%sqllogview.name"
            icon="icons/log.gif"
            category="com.quantum.views"
            class="com.quantum.view.SQLLogView"
            id="com.quantum.view.logview">
      </view>
      <view
            name="%driverview.name"
            icon="icons/driver.gif"
            category="com.quantum.views"
            class="com.quantum.view.driver.JDBCDriverView"
            id="com.quantum.view.JDBCDriverView">
      </view>
      <view
            name="%tableview.name"
            icon="icons/table.gif"
            category="com.quantum.views"
            class="com.quantum.view.tableview.TableView"
            id="com.quantum.view.tableview.TableView">
      </view>
      <view
            name="%bookmarkview.name"
            icon="icons/bookmarks.gif"
            category="com.quantum.views"
            class="com.quantum.view.bookmark.BookmarkView"
            id="com.quantum.view.bookmarkview">
      </view>
      <view
            name="%sqlqueryview.name"
            icon="icons/script.gif"
            category="com.quantum.views"
            class="com.quantum.view.SQLQueryView"
            id="com.quantum.view.sqlqueryview">
      </view>
      <view
            category="com.quantum.views"
            class="com.quantum.view.beanshell.BeanShellView"
            icon="icons/beanshell.gif"
            id="com.quantum.view.beanshellview"
            name="%beanshellview.name"/>
      <view
            allowMultiple="true"
            category="com.quantum.views"
            class="com.quantum.view.SQLSearchResultsTree"
            icon="icons/search_results_view.gif"
            id="com.quantum.view.sqlsearchresultstree"
            name="Quantum Search Results"/>
   </extension>
<!-- Editors -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Quantum SQL Editor"
            icon="icons/script.gif"
            extensions="sql,ddl"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.quantum.editors.SQLEditor"
            id="com.quantum.editors.SQLEditor">
      </editor>
      <editor
            name="Table Data Editor"
            icon="icons/greentable.gif"
            class="com.quantum.editors.dataeditor.DataEditor"
            id="com.quantum.editors.dataeditor.DataEditor">
      </editor>
      <editor
            class="com.quantum.editors.virtualeditor.DataVEditor"
            icon="icons/template.gif"
            name="Virtual Data Editor"
            id="com.quantum.editors.virtualeditor.DataVEditor"/>
      <editor
            class="com.quantum.editors.graphical.EntityRelationEditor"
            contributorClass="com.quantum.actions.EntityRelationActionBarContributor"
            default="false"
            extensions="erd"
            icon="icons/schema.gif"
            id="com.quantum.editors.graphical.EntityRelationEditor"
            name="Quantum Entity Relation Editor"/>
   </extension>
<!-- Preferences -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Quantum DB"
            class="com.quantum.preferences.GlobalPreferences"
            id="com.quantum.preferences">
      </page>
      <page
            name="SQL Editor"
            category="com.quantum.preferences"
            class="com.quantum.preferences.SQLEditorPreferences"
            id="com.quantum.preferences.editor">
      </page>
      <page
            name="Copy"
            category="com.quantum.preferences"
            class="com.quantum.preferences.CopyPreferences"
            id="com.quantum.preferences.copy">
      </page>
      <page
            name="Custom Copy 1"
            category="com.quantum.preferences.copy"
            class="com.quantum.preferences.CustomCopyPreferences"
            id="com.quantum.preferences.customcopy">
      </page>
      <page
            name="Custom Copy 2"
            category="com.quantum.preferences.copy"
            class="com.quantum.preferences.CustomCopyPreferences2"
            id="com.quantum.preferences.customcopy2">
      </page>
      <page
            name="Custom Copy 3"
            category="com.quantum.preferences.copy"
            class="com.quantum.preferences.CustomCopyPreferences3"
            id="com.quantum.preferences.customcopy3">
      </page>
      <page
            class="com.quantum.preferences.DatabasePreferences"
            category="com.quantum.preferences"
            name="Databases"
            id="com.quantum.preferences.databases"/>
      <page
            category="com.quantum.preferences"
            class="com.quantum.preferences.ExportPreferences"
            id="com.quantum.preferences.export"
            name="Export"/>
   </extension>
<!-- Menu for Bookmark View -->
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            targetID="com.quantum.view.bookmarkview"
            id="com.quantum.view.bookmarkview.menu">
<!-- Export Bookmarks -->
         <action
               label="%bookmarkview.exportbookmarks"
               icon="icons/export.gif"
               tooltip="Exports bookmarks to a file"
               class="com.quantum.actions.ExportBookmarksAction"
               menubarPath="additions"
               id="com.quantum.action.importbookmarks">
         </action>
<!-- Import Bookmarks -->
         <action
               label="%bookmarkview.importboomarks "
               icon="icons/import.gif"
               tooltip="Imports bookmarks from a file"
               class="com.quantum.actions.ImportBookmarksAction"
               menubarPath="additions"
               id="com.quantum.action.importbookmarks">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
      </perspectiveExtension>
   </extension>
<!-- Property Pages -->
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="com.quantum.view.bookmark.TreeNode"
            name="Database"
            nameFilter="*"
            class="com.quantum.properties.DatabaseInformationPropertyPage"
            id="com.quantum.properties.DatabaseInformationPropertyPage">
      </page>
      <page
            objectClass="com.quantum.view.bookmark.TreeNode"
            name="Data Types"
            nameFilter="*"
            class="com.quantum.properties.DataTypesPropertyPage"
            id="com.quantum.properties.DataTypesPropertyPage">
      </page>
      <page
            objectClass="com.quantum.view.bookmark.BookmarkNode"
            name="Bookmark"
            nameFilter="*"
            class="com.quantum.properties.BookmarkPropertyPage"
            id="com.quantum.properties.BookmarkPropertyPage">
      </page>
      <page
            objectClass="com.quantum.view.bookmark.BookmarkNode"
            name="Schemas"
            nameFilter="*"
            class="com.quantum.properties.SchemaPropertyPage"
            id="com.quantum.properties.SchemaPropertyPage">
      </page>
      <page
            objectClass="com.quantum.model.EntityHolder"
            name="Columns"
            nameFilter="*"
            class="com.quantum.properties.ColumnPropertyPage"
            id="com.quantum.properties.ColumnPropertyPage">
      </page>
      <page
            objectClass="com.quantum.model.EntityHolder"
            name="Indices"
            nameFilter="*"
            class="com.quantum.properties.IndexPropertyPage"
            id="com.quantum.properties.IndexPropertyPage">
      </page>
      <page
            objectClass="com.quantum.model.EntityHolder"
            name="References"
            nameFilter="*"
            class="com.quantum.properties.ReferencesPropertyPage"
            id="com.quantum.properties.ReferencesPropertyPage">
      </page>
      <page
            objectClass="com.quantum.model.EntityHolder"
            class="com.quantum.properties.SQLPropertyPage"
            name="SQL"
            id="com.quantum.properties.SQLPropertyPage"/>
      <page
            class="com.quantum.properties.SPPropertyPage"
            icon="icons/procedure.gif"
            id="com.quantum.properties.SPPropertyPage"
            name="Stored Procedure"
            objectClass="com.quantum.view.bookmark.ProcedureNode"/>
      <page
            class="com.quantum.properties.TriggerPropertyPage"
            icon="icons/trigger.gif"
            id="com.quantum.properties.TriggerPropertyPage"
            name="Triggers"
            objectClass="com.quantum.model.EntityHolder"/>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            name="Export to Quantum Bookmark File"
            icon="./icons/bookmarkfile.gif"
            class="com.quantum.wizards.ExportBookmarkWizard"
            id="com.quantum.wizards.ExportBookmarkWizard">
         <description>
            A wizard that exports the list of database bookmarks to a Quantum bookmark file.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="com.quantum.sql.grammar.quickfix.ColumnReferencedByTable"
            markerType="org.eclipse.core.resources.problemmarker">
	   		<attribute name="com.quantum.sql.grammar.error.id" value="4"/>
	   </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.quantum.sql.grammar.quickfix.AmbiguousColumnName"
            markerType="org.eclipse.core.resources.problemmarker">
	   		<attribute name="com.quantum.sql.grammar.error.id" value="6"/>
	   </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.quantum.sql.grammar.quickfix.UnknownColumn"
            markerType="org.eclipse.core.resources.problemmarker">
         <attribute
               name="com.quantum.sql.grammar.error.id"
               value="5"/>
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.quantum.sql.grammar.quickfix.UnknownTableInFromClause"
            markerType="org.eclipse.core.resources.problemmarker">
         <attribute
               name="com.quantum.sql.grammar.error.id"
               value="9"/>
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.quantum.sql.grammar.quickfix.UnknownTable"
            markerType="org.eclipse.core.resources.problemmarker">
         <attribute
               name="com.quantum.sql.grammar.error.id"
               value="8"/>
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.quantum.sql.grammar.quickfix.AliasOutsideSelectList"
            markerType="org.eclipse.core.resources.problemmarker">
         <attribute
               name="com.quantum.sql.grammar.error.id"
               value="2"/>
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.quantum.sql.grammar.quickfix.MismatchedColumnTable"
            markerType="org.eclipse.core.resources.problemmarker">
         <attribute
               name="com.quantum.sql.grammar.error.id"
               value="10"/>
      </markerResolutionGenerator>
   </extension>
   <extension
         name="DB Search"
         point="org.eclipse.search.searchPages">
      <page
            class="com.quantum.search.QuantumSearchPage"
            enabled="true"
            icon="icons/search_results_view.gif"
            id="com.quantum.search.QuantumSearchPage"
            label="Database"
            tabPosition="99"/>
   </extension>
</plugin>
