<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.root.contexts"
            contentProvider="org.talend.testcontainer.job.ui.view.JobTestContainerContentProvider"
            icon="icons/unknown.gif"
            id="org.talend.testcontainer.job.testDesigns"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="%NavigatorContent.testDesigns"
            priority="normal">
         <triggerPoints>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.testcontainer.job.isProcessItemNode">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.testcontainer.job.isTestContainerProcessNode">
                  </test>
               </or>
            </and></triggerPoints>
         <possibleChildren>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     property="org.talend.testcontainer.job.isTestContainerProcessNode">
               </test>
            </and></possibleChildren>
         <actionProvider
               class="org.talend.testcontainer.job.ui.view.TestContainerRepositoryNodeActionProvider"
               id="org.talend.testcontainer.job.actionProvider">
            <enablement>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        property="org.talend.testcontainer.job.isTestContainerProcessNode">
                  </test>
                  <not>
                     <test
                           property="org.talend.repository.node.isDeleted">
                     </test>
                  </not>
               </and>
            </enablement>
         </actionProvider>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.talend.repository.cnf.view">
         <includes>
            <contentExtension
                  pattern="org.talend.testcontainer.job.*">
            </contentExtension>
            <contentExtension
                  pattern="org.talend.testcontainer.job.ui.view.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.talend.testcontainer.job.ui.view.TestContainerProcessPropertyTester"
            id="org.talend.testcontainer.job.TestContainerProcessPropertyTester"
            namespace="org.talend.testcontainer.job"
            properties="isTestContainerProcessNode,isProcessItemNode"
            type="org.talend.repository.model.RepositoryNode">
      </propertyTester>
   </extension>

</plugin>
