<project name="server" default="server" basedir=".">
	<taskdef resource="net/sf/antcontrib/antcontrib.properties"/>
    <target name="os">
    	<condition property="is.unix">
    		<os family="unix"/>
    	</condition>
    	<condition property="is.windows">
    		<os family="windows"/>
    	</condition>
    </target>

	<!-- - - - - - - - - - - - - - - - - - 
          target: server                   
         - - - - - - - - - - - - - - - - - -->
    <target name="server" depends="os">
    	<if>
    		<isset property="is.windows"/>
    		<then>
    			<exec executable="cmd" dir="${server.home}/bin"
    				spawn="true">
    				<arg value="/c"/>
					<arg line="${command}"/>
    			</exec>
    		</then>
    		
    		<else>
    			<exec executable="sh" dir="${server.home}/bin"
    				spawn="true">
    				<arg value="-c"/>
    				<arg line="sh ${command}"/>
    			</exec>
    		</else>
    	</if>
    </target>
	
	<!-- - - - - - - - - - - - - - - - - - 
          target: jar-path-server                   
         - - - - - - - - - - - - - - - - - -->
    <target name="jar-server">
    	<java jar="${jar.path}" fork="true" spawn="true">
    		<arg line="${command}"/>
    	</java>
    </target>
</project>

