<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.designer.runprocess.remote.perl.RemoteRunprocessorService"
            serviceId="IRemoteRunprocessorService">
      </Service>
   </extension>

</plugin>
