<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension point="org.eclipse.ui.navigator.navigatorContent">

   <navigatorContent
            appearsBefore="org.talend.repository.viewer.root.jobDesigns"
            contentProvider="org.talend.repository.example.viewer.content.example.ExampleCompContentProvider"
            id="org.talend.repository.viewer.root.content.OemModelContent"
            labelProvider="org.talend.repository.example.viewer.label.example.ExampleCompLabelProvider"
            name="OEM model">
         <triggerPoints>
            <or>
               <adapt
                     type="org.talend.core.repository.model.ProjectRepositoryNode">
               </adapt>
               <instanceof
                     value="org.talend.core.repository.model.ProjectRepositoryNode">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="java.lang.String">
            </instanceof>
         </possibleChildren>
         <actionProvider
               class="org.talend.repository.viewer.action.OemActionProvider"
               id="org.talend.repository.oem.model.action.provider.id">
         </actionProvider>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.talend.repository.example.viewer.content.example.ExampleSubCompProvider"
            id="org.talend.repository.viewer.content.OemExtension.content"
            labelProvider="org.talend.repository.example.viewer.label.example.ExampleCompLabelProvider"
            name="OEM content extension">
         <triggerPoints>
            <or>
               <and>
                  <instanceof
                        value="java.lang.String">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.view.example.isBM">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.view.example.isJob">
                  </test>
               </and>
            </or>
          </triggerPoints>
      </navigatorContent>

	<!--
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.talend.repository.viewer.content.EmptyContentProvider"
            id="org.talend.repository.viewer.root.removed"
            labelProvider="org.talend.repository.viewer.label.EmptyLabelProvider"
            name="remove jobs content">
         <override
               policy="InvokeAlwaysRegardlessOfSuppressedExt"
               suppressedExtensionId="org.talend.repository.viewer.root.jobDesigns">
         </override>
         <triggerPoints></triggerPoints>
         <possibleChildren>
         </possibleChildren>
      </navigatorContent>
      -->
         <navigatorContent
         appearsBefore="org.talend.repository.viewer.root.jobDesigns"
         contentProvider="org.talend.repository.example.viewer.content.example.JobOnlyWithAnAContentProvider"
         id="org.talend.repository.viewer.root.example.jobs.only.withAnA"
         labelProvider="org.talend.repository.example.viewer.label.example.JobOnlyWithAnALabelProvider"
         name="job only with an A">
      <triggerPoints>
         <or>
            <adapt
                  type="org.talend.core.repository.model.ProjectRepositoryNode">
            </adapt>
            <instanceof
                  value="org.talend.core.repository.model.ProjectRepositoryNode">
            </instanceof>
            <instanceof
                  value="org.talend.repository.example.viewer.node.ExampleRootNode">
            </instanceof>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     property="org.talend.repository.view.example.isJobOnlyWithAnA">
               </test>
            </and>
         </or>
      </triggerPoints>
      <possibleChildren>
         <and>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
            <test
                  property="org.talend.repository.view.example.isJobOnlyWithAnA">
            </test>
         </and>
      </possibleChildren>
      <actionProvider
            class="org.talend.repository.example.viewer.action.example.ActionProviderThatRemovesCreateFolderContextualMenu"
            id="org.talend.repository.job.only.with.an.a.action.provider.id"
            overrides="org.talend.repository.viewer.root.jobDesigns.ActionProvider"
            priority="highest">
         <enablement>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.isJobBranch">
               </test>
               <not>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isDeleted">
                  </test>
               </not>
            </and>
         </enablement>
      </actionProvider>
   </navigatorContent>
      <navigatorContent
            appearsBefore="org.talend.repository.viewer.root.jobDesigns"
            contentProvider="org.talend.repository.example.viewer.content.example.JobWithoutAnAContentProvider"
            id="org.talend.repository.viewer.root.example.jobs.withoutAnA"
            labelProvider="org.talend.repository.example.viewer.label.example.JobWithoutAnALabelProvider"
            name="job without an A">
         <triggerPoints>
            <or>
               <adapt
                     type="org.talend.core.repository.model.ProjectRepositoryNode">
               </adapt>
               <instanceof
                     value="org.talend.core.repository.model.ProjectRepositoryNode">
               </instanceof>
               <instanceof
                     value="org.talend.repository.example.viewer.node.ExampleRootNode">
               </instanceof>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        property="org.talend.repository.view.example.isJob">
                  </test>
                  <not>
                     <test
                           property="org.talend.repository.view.example.isJobOnlyWithAnA">
                     </test>
                  </not>
               </and>
            </or>
         </triggerPoints>
         <possibleChildren>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     property="org.talend.repository.view.example.isJob">
               </test>
               <not>
                  <test
                        property="org.talend.repository.view.example.isJobOnlyWithAnA">
                  </test>
               </not>
            </and>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.metadata.webService"
            contentProvider="org.talend.repository.example.viewer.content.demo.ExampleDemoContentProvider"
            icon="icons/demo.gif"
            id="org.talend.repository.view.metadata.example.demo"
            labelProvider="org.talend.repository.example.viewer.label.demo.ExampleDemoLabelProvider"
            name="%Example_Demo_Name"
            priority="normal">
         <triggerPoints>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isMetadataTopNode">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.metadata.isExampleDemo">
                  </test>
               </or>
            </and>
         </triggerPoints>
         <possibleChildren>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.metadata.isExampleDemo">
               </test>
            </and>
         </possibleChildren>
         <actionProvider
               class="org.talend.repository.example.viewer.action.demo.ExampleDemoNodeActionProvier"
               id="org.talend.repository.example.demo.action.example.provider">
            <enablement>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.metadata.isExampleDemo">
                  </test>
                  <not>
                     <test
                           forcePluginActivation="true"
                           property="org.talend.repository.node.isDeleted">
                     </test>
                  </not>
               </and>
            </enablement>
         </actionProvider>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.view.metadata.example.demo"
            contentProvider="org.talend.repository.example.viewer.content.demo.ExtendedExampleDemoContentProvider"
            icon="icons/demo.gif"
            id="org.talend.repository.view.metadata.example.demo.extended"
            labelProvider="org.talend.repository.example.viewer.label.demo.ExampleDemoLabelProvider"
            name="%Extended_Example_Demo_Name"
            priority="normal">
         <triggerPoints>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isMetadataTopNode">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.metadata.isExtendedExampleDemo">
                  </test>
               </or>
            </and>
         </triggerPoints>
         <possibleChildren>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.metadata.isExtendedExampleDemo">
               </test>
            </and>
         </possibleChildren>
         <actionProvider
               class="org.talend.repository.example.viewer.action.demo.ExampleDemoNodeActionProvier"
               id="org.talend.repository.example.demo.action.extendedExample.provider">
            <enablement>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.metadata.isExtendedExampleDemo">
                  </test>
                  <not>
                     <test
                           forcePluginActivation="true"
                           property="org.talend.repository.node.isDeleted">
                     </test>
                  </not>
               </and>
            </enablement>
         </actionProvider>
      </navigatorContent>
      <actionProvider
            class="org.talend.repository.view.di.viewer.action.DIRepositoryNodeActionProvider"
            id="org.talend.repository.view.example.actionprovider.to.remove.create.folder">
         <enablement>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.isJobBranch">
               </test>
               <not>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isDeleted">
                  </test>
               </not>
            </and>
         </enablement>
      </actionProvider>
</extension>
<extension
      point="org.eclipse.core.expressions.propertyTesters">
   <propertyTester
         class="org.talend.repository.example.viewer.tester.example.ExampleTester"
         id="org.talend.repository.view.example.bmTester"
         namespace="org.talend.repository.view.example"
         properties="isBM"
         type="java.lang.String">
   </propertyTester>
   <propertyTester
         class="org.talend.repository.example.viewer.tester.example.ExampleTester"
         id="org.talend.repository.view.example.jobTester"
         namespace="org.talend.repository.view.example"
         properties="isJob,isJobOnlyWithAnA"
         type="org.talend.repository.model.RepositoryNode">
   </propertyTester>
    <propertyTester
            class="org.talend.repository.example.viewer.tester.demo.ExampleDemoMetadataNodeTester"
            id="org.talend.repository.node.tester.metadata.example.demo"
            namespace="org.talend.repository.node.metadata"
            properties="isExampleDemo,isExtendedExampleDemo"
            type="org.talend.repository.model.RepositoryNode">
      </propertyTester>
    <propertyTester
          class="org.talend.repository.example.viewer.tester.example.ExampleTester"
          id="org.talend.repository.view.example.rootTester"
          namespace="org.talend.repository.view.example"
          properties="isJobOnlyWithAnARoot,isJobWithoutAnARoot"
          type="org.talend.repository.example.viewer.node.ExampleRootNode">
    </propertyTester>
</extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.talend.repository.cnf.view">
         <includes>
            <contentExtension
                  pattern="org.talend.repository.view.metadata.example.*">
            </contentExtension>
            <contentExtension
                  pattern="org.talend.repository.view.example.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.talend.core.repository.repository_node_provider">
      <repositoryNode
            class="org.talend.repository.example.viewer.node.ExampleDemoRepositoryNode"
            folder="metadata/exmple_demo"
            icon="icons/demo.gif"
            isResouce="true"
            label="my.metadata"
            parentNodeType="METADATA"
            products="DI"
            type="EXAMPLE_DEMO">
      </repositoryNode>
      <repositoryNode
            folder="metadata/extendedExmple_demo"
            icon="icons/demo.gif"
            isResouce="true"
            label="my.ExtendedMetadata"
            parentNodeType="METADATA"
            products="DI"
            type="EXTENDED_EXAMPLE_DEMO">
      </repositoryNode>
   </extension>
      <extension
         point="org.talend.core.repositoryContextualsActions">
      <Action
            class="org.talend.repository.example.viewer.action.demo.CreateExampleDemoAction"
            id="org.talend.repository.view.example.demo.createExmpleDemoAction"
            isEditAction="false"
            isPropertiesAction="false"
            isReadAction="false"
            level="10"
            name="%Create_Demo_Action_Name">
      </Action>
      <Action
            class="org.talend.repository.example.viewer.action.demo.CreateExtendedExampleDemoAction"
            id="org.talend.repository.viewer.actions.demo.CreateExtendedExampleDemoAction"
            isEditAction="false"
            isPropertiesAction="false"
            isReadAction="false"
            level="10"
            name="%Create_Extended_Example_Demo_Action_Name">
      </Action>
   </extension>
   <extension
         point="org.talend.core.repository.repository_content">
      <RepositoryContent
            class="org.talend.repository.example.viewer.handler.demo.ExampleDemoRepositoryHandler">
      </RepositoryContent>
      <RepositoryContent
            class="org.talend.repository.example.viewer.handler.demo.ExtendedExampleDemoRepositoryHandler">
      </RepositoryContent>
   </extension>
   <extension
         point="org.talend.core.repository.repository_handler">
      <RepositoryHandler
            class="org.talend.repository.example.viewer.handler.demo.ExampleDemoDragAndDropHandler">
      </RepositoryHandler>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.talend.repository.example.model.demo.DemoPackage"
            uri="http://www.talend.com/exampleDemo">
      </package>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated demo -->
      <parser
            type="demo"
            class="org.talend.repository.example.model.demo.util.DemoResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.talend.core.components_provider">
      <ComponentsProvider
            class="org.talend.repository.example.components.ExampleComponentsProvider"
            id="org.talend.repository.view.example.ComponentsProvider1">
      </ComponentsProvider>
   </extension>
   <extension
         point="org.talend.core.runtime.repositoryComponent_provider">
      <RepositoryComponent
            default="tExampleComponent"
            name="org.talend.repository.view.example.RepositoryComponent2">
         <Item
               clazz="org.talend.repository.components.ExamplePropertiesItem">
         </Item>
      </RepositoryComponent>
   </extension>
   <extension
         point="org.talend.repository.items.importexport.handler">
      <importItemsProvider
            id="org.talend.repository.view.example.importProvider"
            name="Example Demo importer"
            priority="LOW">
         <importItemsHandler
               class="org.talend.repository.example.viewer.handler.demo.ExampleDemoImportHandler">
            <parameter
                  comment="for the value, same as &quot;EXAMPLE_DEMO&quot; too."
                  name="path"
                  value="metadata/exmple_demo">
            </parameter>
            <parameter
                  comment="for Extended example demo"
                  name="type"
                  value="EXTENDED_EXAMPLE_DEMO">
            </parameter>
         </importItemsHandler>
      </importItemsProvider>
      <importResourcesProvider
            description="Demo impl"
            id="org.talend.repository.view.example.importResourcesProvider.demo"
            priority="LOWEST">
         <importResoucesHandler
               class="org.talend.repository.example.viewer.handler.demo.DemoImportResourcesHandler"></importResoucesHandler>
      </importResourcesProvider>
   </extension>
   <extension
         point="org.talend.migration.task.type.extension">
      <TypeExtension
            extended_type="EXAMPLE_DEMO"
            type="EXTENDED_EXAMPLE_DEMO">
      </TypeExtension>
   </extension>
   <extension
         point="org.talend.core.ui.showPerspectiveAtStartup">
      <perspective
            appearsAfter="org.talend.camel.perspective | org.talend.rcp.perspective"
            id="org.eclipse.debug.ui.DebugPerspective">
      </perspective>
   </extension>
</plugin>
