<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.talend.presentation.onboarding.resource" name="onboarding presentation resource" schema="schema/org.talend.presentation.onboarding.resource.exsd"/>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:help?after=talend">
         <command
               commandId="org.talend.presentation.onboarding.show.command"
               id="org.talend.presentation.onboarding.show.command"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.talend.presentation.onboarding.show.command"
            name="Onboarding">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.talend.presentation.onboarding.handlers.OnBoardingHandler"
            commandId="org.talend.presentation.onboarding.show.command">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.talend.presentation.onboarding.handlers.OnBoardingStartup">
      </startup>
   </extension>
</plugin>
