<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

<extension
         point="org.talend.core.repositoryContextualsActions">
      <Action
            class="org.talend.repository.mdm.action.CreateMDMConnectionAction"
            id="org.talend.repository.mdm.action.CreateMDMConnectionAction"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create MDM">
      </Action>
      <Action
            class="org.talend.repository.mdm.action.RetrieveMDMSchemaAction"
            id="org.talend.repository.mdm.action.RetrieveMDMSchemaAction"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Retrieve Schema">
      </Action>
      <Action
            class="org.talend.repository.mdm.action.ReadMDMSchemaAction"
            id="org.talend.repository.mdm.action.ReadMDMSchemaAction"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Read Schema">
      </Action>
   </extension>

   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.repository.mdm.MDMProviderService"
            serviceId="IMDMProviderService">
      </Service>
   </extension>
   <extension
         point="org.talend.core.runtime.repositoryComponent_provider">
      <RepositoryComponent
            input="tMDMInput"
            name="FILEMDM"
            output="tMDMOutput"
            type="MDM">
         <Item
               clazz="org.talend.core.model.properties.MDMConnectionItem">
         </Item>
      </RepositoryComponent>
      <DragAndDropFilter
            clazz="org.talend.repository.mdm.model.MDMRepositoryComponentDndFilter"
            id="org.talend.mdm.repository.MDMRepositoryComponentDndFilter"
            name="MDM Item filter">
      </DragAndDropFilter>
   </extension>
   <extension
         point="org.talend.core.repository.repositorySeeker">
      <seeker
            class="org.talend.repository.mdm.ui.viewer.seeker.MdmRepositorySeeker"
            name="Talend MDM">
      </seeker>
   </extension>
   <extension
         point="org.talend.core.repository.repository_node_provider">
       <repositoryNode
             alias="MDM"
             folder="metadata/MDMconnections"
             isResouce="true"
             key="repository.metadataMDMConnections"
             label="Talend MDM"
             ordinal="38"
             parentNodeType="METADATA"
             products="DI"
             type="METADATA_MDMCONNECTION">
       </repositoryNode>
       <extraProducts
             products="DQ"
             type="METADATA_MDMCONNECTION">
       </extraProducts>
   </extension>
   <extension
         point="org.talend.repository.items.importexport.handler">
      <importItemsProvider
            id="org.talend.repository.mdm.importProvider"
            name="MDM Importer"
            priority="NORMAL">
         <importItemsHandler
               class="org.talend.repository.mdm.ui.wizard.handler.MdmImportHandler">
            <parameter
                  name="type"
                  value="METADATA_MDMCONNECTION">
            </parameter>
         </importItemsHandler>
      </importItemsProvider>
   </extension>
   <extension
         point="org.talend.core.migrationTask">
      <projecttask
            beforeLogon="false"
            breaks="5.6.0"
            class="org.talend.repository.mdm.repository.migration.UnifyPasswordEncryption4MDMConnectionMigrationTask"
            description="Unify the entryption for MDM password field"
            id="org.talend.repository.mdm.repository.migration.UnifyPasswordEncryption4MDMConnectionMigrationTask"
            name="UnifyPasswordEncryption4MDMConnectionMigrationTask"
            version="5.6.0">
      </projecttask>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.metadata.genericSchemas"
            contentProvider="org.talend.repository.mdm.ui.viewer.content.MdmContentProvider"
            icon="icons/mdm.png"
            id="org.talend.repository.viewer.metadata.mdm"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="Talend MDM"
            priority="normal">
         <triggerPoints>
            <or>
               <adapt
                     type="org.talend.repository.model.ProjectRepositoryNode">
               </adapt>
               <instanceof
                     value="org.talend.repository.model.ProjectRepositoryNode">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
   </extension>
   -->
</plugin>
