<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.talend.core.runtime.librariesNeeded">
      <libraryNeeded
            context="plugin:org.talend.libraries.jdbc.jtds"
            language="java"
            message="Needed for jtds jdbc plugin"
            name="jtds-1.2.5.jar"
            required="true">
      </libraryNeeded>
   </extension>
</plugin>
