<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
        point="org.eclipse.ui.editors">
     <editor
           class="org.talend.testcontainer.core.ui.editor.TestContainerMultiPageEditor"
           contributorClass="org.talend.designer.core.ui.MultiPageEditorContributor"
           extensions="jlet"
           icon="icons/talend-picto-small.gif"
           id="org.talend.testcontainer.core.ui.editor.TestContainerMultiPageEditor"
           name="TestContainer Editor">
     </editor>
  </extension>
  
  <extension
         point="org.talend.core.repositoryContextualsActions">
      <Action
            class="org.talend.testcontainer.core.ui.actions.EditTestContainer"
            id="org.talend.testcontainer.core.ui.actions.EditTestContainer"
            isEditAction="true"
            level="10"
            name="Edit TestContainer"/>
  </extension>        
  <extension
        point="org.talend.core.component_custom_action">    
     <CustomAction
           class="org.talend.testcontainer.core.ui.actions.CreateTestContainerAction"
           id="org.talend.testcontainer.core.ui.actions.CreateTestContainerAction"
           label="Create Test Container">
     </CustomAction>
  </extension>
  <extension
        point="org.talend.core.runtime.service">
     <Service
           class="org.talend.testcontainer.core.ui.service.TestContainerProviderService"
           serviceId="ITestContainerProviderService">
     </Service>
     <Service
           class="org.talend.testcontainer.core.ui.service.TestContainerGEFService"
           serviceId="ITestContainerGEFService">
     </Service>  
  </extension>
  <extension
         point="org.talend.core.repository.repository_node_provider">
      <repositoryNode
            alias="TC"
            folder="tests"
            icon="icons/unknown.gif"
            isResouce="true"
            key="repository.testContainer"
            label="TestContainer"
            ordinal="1"
            products="DI"
            type="TEST_CONTAINER">
      </repositoryNode>
   </extension>
   <extension
         point="org.talend.core.repository.repository_content">
      <RepositoryContent
            class="org.talend.testcontainer.core.ui.util.TestContainerRepositoryContentHandler">
      </RepositoryContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            class="org.talend.testcontainer.core.ui.content.TCStandardProcessFilter"
            id="org.talend.testcontainer.core.ui.content.TCStandardProcessFilter"
            name="TCStandardJobsFilter">
      </commonFilter>
   </extension>
   <extension
         point="org.talend.core.repository.repository_content">
      <RepositoryContent
            class="org.talend.testcontainer.core.ui.util.TestContainerRepositoryContentHandler">
      </RepositoryContent>
   </extension>
</plugin>
