<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
        point="org.eclipse.ui.editors">
     <editor
           class="org.talend.testcontainer.core.ui.editor.TestContainerMultiPageEditor"
           contributorClass="org.talend.designer.core.ui.MultiPageEditorContributor"
           extensions="jlet"
           icon="icons/talend-picto-small.gif"
           id="org.talend.testcontainer.core.ui.editor.TestContainerMultiPageEditor"
           name="TestContainer Editor">
     </editor>
  </extension>
<extension
        point="org.talend.core.component_custom_action">    
     <CustomAction
           class="org.talend.testcontainer.core.ui.actions.CreateTestContainerAction"
           id="org.talend.testcontainer.core.ui.actions.CreateTestContainerAction"
           label="Create Test Container">
     </CustomAction>
  </extension>
  <extension
        point="org.talend.core.runtime.service">
     <Service
           class="org.talend.testcontainer.core.ui.service.TestContainerProviderService"
           serviceId="ITestContainerProviderService">
     </Service>
  </extension>
  <extension
         point="org.talend.core.repository.repository_node_provider">
      <repositoryNode
            alias="TC"
            folder="tests/process"
            icon="icons/talend-picto.png"
            isResouce="true"
            key="repository.testContainerProcess"
            label="%NavigatorContent.testContainerProcess"
            ordinal="188"
            parentNodeType="JOBS"
            products="DI"
            type="TEST_CONTAINER">
      </repositoryNode>
   </extension>
   <extension
         point="org.talend.core.repository.repository_content">
      <RepositoryContent
            class="org.talend.testcontainer.core.ui.util.TestContainerRepositoryContentHandler">
      </RepositoryContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.talend.testcontainer.core.ui.content.TestContainerContentProvider"
            icon="icons/talend-picto-small.gif"
            id="org.talend.testcontainer.core.ui.root.testContainerProcess"
            labelProvider="org.talend.testcontainer.core.ui.contentTestContainerLabelProvider"
            name="%NavigatorContent.testContainerProcess"
            priority="lower">
         <triggerPoints>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.testcontainer.core.ui.tests.isTestContainerProcessNode">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.testcontainer.core.ui.tests.isProcessTopNode">
                  </test>
               </or>
            </and>
         </triggerPoints>
         <possibleChildren>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.testcontainer.core.ui.tests.isTestContainerProcessNode">
               </test>
            </and>
         </possibleChildren>
         <actionProvider
               class="org.talend.designer.mapreduce.ui.viewer.action.MapReduceRepositoryActionProvider"
               id="org.talend.designer.mapreduce.viewer.action.mapreduceProcess">
            <enablement>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.testcontainer.core.ui.tests.isTestContainerProcessNode">
                  </test>
                  <not>
                     <test
                           forcePluginActivation="true"
                           property="org.talend.repository.node.isDeleted">
                     </test>
                  </not>
               </and>
            </enablement>
         </actionProvider>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="org.talend.testcontainer.core.ui.content.TCStandardProcessFilter"
            id="org.talend.testcontainer.core.ui.content.TCStandardProcessFilter"
            name="TCStandardJobsFilter">
      </commonFilter>
   </extension>
    <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.talend.testcontainer.core.ui.tests.TestContainerProcessPropertyTester"
            id="org.talend.testcontainer.core.ui.tests.TestContainerProcessPropertyTester"
            namespace="org.talend.testcontainer.core.ui.tests"
            properties="isTestContainerProcessNode,isProcessTopNode"
            type="org.talend.repository.model.RepositoryNode">
      </propertyTester>
   </extension>
   <extension
         point="org.talend.core.repository.repository_content">
      <RepositoryContent
            class="org.talend.testcontainer.core.ui.util.TestContainerRepositoryContentHandler">
      </RepositoryContent>
   </extension>
</plugin>
