<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.core.ui.CoreUIService"
            serviceId="ICoreUIService">
      </Service>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.talend.core.ui.preference.CoreUIPreferenceInitializer">
      </initializer>
   </extension>
</plugin>
