<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.talend.designer.core.ui.preferences.AppearancePreferencePage"
            class="org.talend.core.ui.preference.ColorsCodeViewerPreferencePage"
            id="org.talend.core.ui.pref.colorCodeViewer"
            name="%colorCodeViewer">
      </page>
   </extension>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.core.ui.CoreUIService"
            serviceId="ICoreUIService">
      </Service>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.talend.core.ui.preference.CoreUIPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="tos.variables"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            class="org.talend.core.ui.viewer.proposal.TalendCompletionProposalComputer">
      </javaCompletionProposalComputer>
   </extension>
</plugin>
