<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.talend.repository.viewer.perspective.filter" name="CNF Perspective Filter" schema="schema/perspective.filter.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.talend.repository.navigator.RepoViewCommonNavigator"
            id="org.talend.repository.cnf.view"
            name="CNF Repository View override Talend"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.talend.rcp.perspective">
         <view
               closeable="true"
               id="org.talend.repository.cnf.view"
               minimized="false"
               ratio="0.5"
               relationship="right"
               showTitle="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.root.content.code.content"
            contentProvider="org.talend.repository.viewer.content.JobsContentProvider"
            icon="icons/process_icon.gif"
            id="org.talend.repository.viewer.root.content.jobs"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="Jobs"
            priority="normal">
         <triggerPoints>
            <or>
               <adapt
                     type="org.talend.repository.model.ProjectRepositoryNode">
               </adapt>
               <instanceof
                     value="org.talend.repository.model.ProjectRepositoryNode">
               </instanceof>
            </or></triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            appearsBefore="org.talend.repository.viewer.root.content.jobs"
            contentProvider="org.talend.repository.viewer.content.example.ExampleCompContentProvider"
            id="org.talend.repository.viewer.root.content.OemModelContent"
            labelProvider="org.talend.repository.viewer.label.example.ExampleCompLabelProvider"
            name="OEM model">
         <triggerPoints>
            <instanceof
                  value="org.talend.repository.model.ProjectRepositoryNode">
            </instanceof>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="java.lang.String">
            </instanceof>
         </possibleChildren>
         <actionProvider
               class="org.talend.repository.viewer.action.OemActionProvider">
         </actionProvider>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.talend.repository.viewer.content.example.ExampleSubCompProvider"
            id="org.talend.repository.viewer.content.OemExtension.content"
            labelProvider="org.talend.repository.viewer.label.example.ExampleCompLabelProvider"
            name="OEM content extension">
         <triggerPoints>
            <or>
               <and>
                  <instanceof
                        value="java.lang.String">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.isBM">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isJob">
                  </test>
               </and>
            </or>
          </triggerPoints>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.talend.repository.viewer.content.metadata.MetadataTopNodeContentProvider"
            icon="icons/connection.gif"
            id="org.talend.repository.viewer.root.content.metadata.content"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="Metadata"
            priority="normal">
         <triggerPoints>
            <or>
               <adapt
                     type="org.talend.repository.model.ProjectRepositoryNode">
               </adapt>
               <instanceof
                     value="org.talend.repository.model.ProjectRepositoryNode">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.root.content.metadata.content"
            contentProvider="org.talend.repository.viewer.content.CodeContentProvider"
            id="org.talend.repository.viewer.root.content.code.content"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="Code"
            priority="normal">
         <triggerPoints>
            <or>
               <adapt
                     type="org.talend.repository.model.ProjectRepositoryNode">
               </adapt>
               <instanceof
                     value="org.talend.repository.model.ProjectRepositoryNode">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.root.content.metadata.content"
            contentProvider="org.talend.repository.viewer.content.ModelSqlContentProvider"
            id="org.talend.repository.viewer.root.content.sqlpatterns.content"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="Model SQL"
            priority="normal">
         <triggerPoints>
            <or>
               <adapt
                     type="org.talend.repository.model.ProjectRepositoryNode">
               </adapt>
               <instanceof
                     value="org.talend.repository.model.ProjectRepositoryNode">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            class="org.talend.repository.viewer.filter.PerspectiveFilterActionProvider"
            id="org.talend.repository.viewer.PerspectiveFilterActionProvider">
         <enablement></enablement>
      </actionProvider>
      <navigatorContent
            contentProvider="org.talend.repository.viewer.content.metadata.MetadataDbContentProvider"
            id="org.talend.repository.viewer.metadata.content.db"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="Metadata DB connections">
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
         <triggerPoints>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.isMetadataTopNode">
               </test>
            </and>
         </triggerPoints>
      </navigatorContent>
      <navigatorContent
            contentProvider="org.talend.repository.viewer.content.metadata.MetadataGenericContentProvider"
            id="org.talend.repository.viewer.metadata.content.generic"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="Metadata Generic Schema">
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
         <triggerPoints>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.isMetadataTopNode">
               </test>
            </and>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.talend.repository.cnf.view">
         <includes>
            <actionExtension
                  pattern="org.talend.repository.viewer.PerspectiveFilterActionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="org.talend.repository.cnf.view">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="org.talend.repository.viewer.root.*">
            </contentExtension>
            <contentExtension
                  pattern="org.talend.repository.viewer.content.OemExtension.content">
            </contentExtension>
            <contentExtension
                  pattern="org.talend.repository.viewer.metadata.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewer
            viewerId="org.talend.repository.cnf.view">
         <options>
            <property
                  name="org.eclipse.ui.navigator.hideAvailableCustomizationsDialog"
                  value="false">
            </property>
         </options>
      </viewer>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.talend.repository.tester.example.PropertyTester"
            id="org.talend.items.tester"
            namespace="org.talend"
            properties="isJob, isBM"
            type="java.lang.String">
      </propertyTester>
      <propertyTester
            class="org.talend.repository.tester.NodeTester"
            id="org.talend.repository.node.tester"
            namespace="org.talend.repository.node"
            properties="isJob,isMetadataTopNode"
            type="org.talend.repository.model.RepositoryNode">
      </propertyTester>
   </extension>
   <extension
         point="org.talend.repository.viewer.perspective.filter">
      <perspectiveFilter
            actionProviderId="org.talend.repository.viewer.PerspectiveFilterActionProvider"
            perspectiveId="org.talend.rcp.perspective">
         <includes>
            <contentExtension
                  pattern="org.talend.repository.viewer.root.*">
            </contentExtension>
         </includes>
      </perspectiveFilter>
      <perspectiveFilter
            actionProviderId="org.talend.repository.viewer.PerspectiveFilterActionProvider"
            perspectiveId="org.eclipse.wst.xml.ui.perspective">
         <includes>
            <contentExtension
                  pattern="org.talend.repository.viewer.root.content.OemModelContent">
            </contentExtension>
         </includes>
      </perspectiveFilter>
   </extension>

</plugin>
