<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="rep.actions"
         name="Actions"
         point="org.talend.core.repositoryContextualsActions">
       <Action
             class="org.talend.repository.ui.actions.snippet.CreateSnippetAction"
             id="org.talend.repository.createSnippet"
             isPropertiesAction="false"
             level="10"
             name="Create Snippet"/>
        <Action
             class="org.talend.repository.ui.actions.snippet.EditSnippetAction"
             id="org.talend.repository.editSnippet"
             isEditAction="true"
             level="10"
             name="Edit Snippet"/>
   </extension>
   <extension
         point="org.talend.repository.toolbar_creation">
      <CreationToolAction
            class="org.talend.repository.ui.actions.snippet.CreateSnippetAction">
      </CreationToolAction>
   </extension>
   <extension
         point="org.talend.core.talend_external_proposals">
      <Proposal
            class="org.talend.repository.ui.proposals.SnippetslProposals">
      </Proposal>
   </extension>
</plugin>
