<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.talend.core.repository_provider">
      <RepositoryFactory
            authenticationNeeded="false"
            class="org.talend.repository.localprovider.model.LocalRepositoryFactory"
            displayToUser="true"
            id="local"
            name="Local"/>
   </extension>
   <extension
         point="org.talend.core.global_actions">
      <GlobalAction class="org.talend.repository.localprovider.ui.actions.ReloadSystemRoutinesAction"/>
   </extension>
   <extension
         point="org.talend.core.migrationTask">
      <projecttask
            beforeLogon="true"
            class="org.talend.repository.localprovider.model.migration.RemoveRoutineFolderTask"
            id="org.talend.repository.localprovider.RemoveRoutineFolderTask"
            name="Remove routine folder"/>
      <projecttask
            beforeLogon="true"
            class="org.talend.repository.localprovider.model.migration.ChangeXmiSerialization"
            id="org.talend.repository.localprovider.model.migration.ChangeXmiSerialization"
            name="Change xmi serialization"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.talend.repository.localprovider.model.PropertiesProjectResourcesFactory"
            type="properties"/>
      <parser
            class="org.talend.repository.localprovider.model.PropertiesProjectResourcesFactory"
            type="project"/>
   </extension>
   <extension
         point="org.talend.core.repositoryContextualsActions">
      <Action
            class="org.talend.repository.localprovider.ui.actions.ImportItemAction"
            id="org.talend.repository.localprovider.ui.actions.ImportItemAction"
            isEditAction="false"
            isReadAction="false"/>
      <Action
            class="org.talend.repository.localprovider.ui.actions.ExportItemAction"
            id="org.talend.repository.localprovider.ui.actions.ExportItemAction"
            isEditAction="false"
            isReadAction="false"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.talend.repository.localprovider.actionSet"
            label="Local Action set"
            visible="true">
         <action
               class="org.talend.repository.localprovider.ui.actions.ImportItemAction"
               icon="platform:/plugin/org.talend.commons.ui/icons/import.gif"
               id="org.talend.repository.localprovider.ui.actions.ImportItemAction"
               label="%ImportItemAction.title"
               style="push"
               toolbarPath="Default"
               tooltip="%ImportItemAction.tooltip"/>
         <action
               class="org.talend.repository.localprovider.ui.actions.ExportItemAction"
               icon="platform:/plugin/org.talend.commons.ui/icons/export.gif"
               id="org.talend.repository.localprovider.ui.actions.ExportItemAction"
               label="%ExportItemAction.title"
               style="push"
               toolbarPath="Default"
               tooltip="%ExportItemAction.tooltip"/>
      </actionSet>
   </extension>
   <extension
         point="org.talend.core.service">
      <Service
            class="org.talend.repository.localprovider.RepositoryLocalProviderService"
            serviceId="IRepositoryLocalProviderService">
      </Service>
   </extension>

</plugin>
