<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.talend.core.repository_provider">
      <RepositoryFactory
            authenticationNeeded="false"
            class="org.talend.repository.localprovider.model.LocalRepositoryFactory"
            name="Local"/>
   </extension>

</plugin>
