<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.talend.core.repository.repository_provider">
      <RepositoryFactory
            authenticationNeeded="false"
            class="org.talend.repository.localprovider.model.LocalRepositoryFactory"
            displayToUser="true"
            id="local"
            name="Local"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.talend.repository.localprovider.model.PropertiesProjectResourcesFactory"
            type="properties"/>
      <parser
            class="org.talend.repository.localprovider.model.PropertiesProjectResourcesFactory"
            type="project"/>
   </extension>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.repository.localprovider.RepositoryLocalProviderService"
            serviceId="IRepositoryLocalProviderService">
      </Service>
   </extension>

</plugin>
