<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.core.elementProvider">
      <provider
            class="org.talend.themes.core.elements.providers.TalendPaletteElementProvider">
         <widget
               class="org.talend.themes.core.elements.widgets.ITalendPaletteWidget">
         </widget>
      </provider>
      <provider
         class="org.talend.themes.core.elements.providers.CSSSWTElementProvider">
      <widget
            class="org.talend.core.ui.properties.tab.TalendTabbedPropertyList"></widget>
      <widget
            class="org.talend.core.ui.properties.tab.TalendTabbedPropertyTitle"></widget>
   </provider>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.core.propertyHandler">
      <handler
            adapter="org.talend.themes.core.elements.adapters.TalendPaletteElement"
            handler="org.talend.themes.core.elements.handlers.TalendPaletteCSSPropertyHandler">
         <property-name
               name="tPalette-mouseOver-forground-color1">
         </property-name>
         <property-name
               name="tPalette-mouseOver-forground-color2">
         </property-name>
         <property-name
               name="tPalette-mouseOver-forground-color3">
         </property-name>
         <property-name
               name="tPalette-mouseOver-background-color1">
         </property-name>
         <property-name
               name="tPalette-mouseOver-background-color2">
         </property-name>
         <property-name
               name="tPalette-mouseOver-background-color3">
         </property-name>
         <property-name
               name="tPalette-expanded-background-color">
         </property-name>
         <property-name
               name="tPalette-collapsed-forground-color">
         </property-name>
         <property-name
               name="tPalette-collapsed-background-color">
         </property-name>
         <property-name
               name="tPalette-list-background-color">
         </property-name>
         <property-name
               name="tPalette-color-increment">
         </property-name>
         <property-name
               name="tPalette-forground-color">
         </property-name>
         <property-name
               name="tPalette-scroll-pane-border">
         </property-name>
         <property-name
               name="tPalette-scroll-pane-list-border">
         </property-name>
         <property-name
               name="tPalette-slider-palette-forground-color">
         </property-name>
         <property-name
               name="tPalette-slider-palette-background-color">
         </property-name>
         <property-name
               name="tPalette-show-folder-image">
         </property-name>
         <property-name
               name="tPalette-entryEditPart-arrowWidth">
         </property-name>
         <property-name
               name="tPalette-entryEditPart-listBorder">
         </property-name>
         <property-name
               name="tPalette-entryEditPart-iconBorder">
         </property-name>
         <property-name
               name="tPalette-entryEditPart-forground-disableColor">
         </property-name>
         <property-name
               name="tPalette-entryEditPart-selected-background-color">
         </property-name>
         <property-name
               name="tPalette-entryEditPart-hover-background-color">
         </property-name>
         <property-name
               name="tPalette-entryEditPart-borderFocus-forground-color">
         </property-name>
         <property-name
               name="tPalette-entryEditPart-borderFocus-background-color">
         </property-name>
         <property-name
               name="tPalette-entryEditPart-borderFocus-background-color">
         </property-name>
         <property-name
               name="tPalette-drawerFigure-baseColor">
         </property-name>
         <property-name
               name="tPalette-collapse-topBorder-forground-lineColor1">
         </property-name>
         <property-name
               name="tPalette-collapse-topBorder-forground-lineColor2">
         </property-name>
         <property-name
               name="tPalette-collapse-expanded-forground-lineColor">
         </property-name>
         <property-name
               name="tPalette-collapse-notExpanded-forground-lineColor">
         </property-name>
         <property-name
               name="tPalette-x-offset">
         </property-name>
         <property-name
               name="tPalette-entryEditPart-entry-topLine-color">
         </property-name>
         <property-name
               name="tPalette-entryEditPart-entry-bottomLine-color">
         </property-name>
         <property-name
               name="tPalette-entryEditPart-entry-background-color">
         </property-name>
         <property-name
               name="tPalette-entryEditPart-entry-color-inheritFromParent">
         </property-name>
         <property-name
               name="tPalette-searchButton-background-color">
         </property-name>
         <property-name
               name="tPalette-searchButton-image">
         </property-name>
      </handler>
      <handler
         adapter="org.talend.themes.core.elements.adapters.CSSUserProfileElementAdapter"
         composite="true"
         handler="org.talend.themes.core.elements.handlers.TalendTabbedPropertyUserProfileCSSHandler">
         <property-name
               name="color">
         </property-name>
         <property-name
               name="background-color">
         </property-name>
         <property-name
               name="_t-widget-normal-shadow-color">
         </property-name>
         <property-name
               name="_t-widget-dark-shadow-color">
         </property-name>
         <property-name
               name="_t-list-background-color">
         </property-name>
         <property-name
               name="border-visible">
         </property-name>
         <property-name
               name="_t-title-foreground-color">
         </property-name>
         <property-name
               name="_t-title-background-color">
         </property-name>
         <property-name
               name="_t-title-bottom-foreground-keyline1-color">
         </property-name>
         <property-name
               name="_t-title-bottom-foreground-keyline2-color">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            handler="org.talend.themes.core.elements.handlers.TalendTabCSSPropertyHandler">
         <property-name
               name="tab-minimize-button-forground-color">
         </property-name>
         <property-name
               name="tab-minimize-button-background-color">
         </property-name>
         <property-name
               name="tab-minimize-button-none-image">
         </property-name>
         <property-name
               name="tab-minimize-button-hot-image">
         </property-name>
         <property-name
               name="tab-minimize-button-selected-image">
         </property-name>
         <property-name
               name="tab-maximize-button-forground-color">
         </property-name>
         <property-name
               name="tab-maximize-button-background-color">
         </property-name>
         <property-name
               name="tab-maximize-button-none-image">
         </property-name>
         <property-name
               name="tab-maximize-button-hot-image">
         </property-name>
         <property-name
               name="tab-maximize-button-selected-image">
         </property-name>
      </handler>
   </extension>
</plugin>
