<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="importexportUiHandler" name="ImportExport UI Handler" schema="schema/importexportUiHandler.exsd"/>
   <extension
         point="org.talend.repository.items.importexport.ui.importexportUiHandler">
      <actionHelper
            class="org.talend.repository.items.importexport.ui.actions.DefaultImportExportItemsActionHelper"
            description="default action helper for import/export"
            id="org.talend.repository.items.importexport.ui.defaultHelper">
      </actionHelper>
   </extension>
   <extension
         point="org.talend.core.repositoryContextualsActions">
      <Action
            class="org.talend.repository.items.importexport.ui.actions.ImportItemsAction"
            id="org.talend.repository.items.importexport.ui.actions.ImportItemsAction"
            isEditAction="false"
            isPropertiesAction="false"
            isReadAction="false"
            name="%ImportItemsAction_title">
      </Action>
   </extension>
<!-- later, if refactor the export action to this plugin, can reuse it.
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.talend.repository.items.importexport.ui.actionSet"
            label="ImportExport"
            visible="false">
         <action
               class="org.talend.repository.items.importexport.ui.actions.ImportItemsAction"
               icon="resources/icons/import.gif"
               id="org.talend.repository.items.importexport.actions.ImportItems"
               label="%ImportItemsAction_title"
               style="push"
               toolbarPath="Default"
               tooltip="%ImportItemsAction_title">
               <enablement>
               <systemProperty
                     name="ReadOnlyUser"
                     value="false">
               </systemProperty>
            </enablement>
         </action>
      </actionSet>
   </extension>
   -->
</plugin>
