<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.talend.core.runtime.librariesNeeded">
        <libraryNeeded
              context="plugin:org.talend.libraries.jdbc.teradata"
              language="java"
              message="Needed for Teradata jdbc plugin"
              name="terajdbc4-15.10.00.14.jar" mvn_uri="mvn:org.talend.libraries/terajdbc4/6.0.0" 
              required="true">
        </libraryNeeded>
        <libraryNeeded
              context="plugin:org.talend.libraries.jdbc.teradata"
              language="java"
              message="Needed for Teradata jdbc plugin"
              name="tdgssconfig-15.10.00.14.jar" mvn_uri="mvn:org.talend.libraries/tdgssconfig/6.0.0" 
              required="true">
        </libraryNeeded>
    </extension>
</plugin>
