<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.talend.core.runtime.librariesNeeded">
      <libraryNeeded
              context="plugin:org.talend.libraries.javacsv"
              language="java"
              message="Needed for Java CVS Reader and Writer"
              name="javacsv.jar" mvn_uri="mvn:org.talend.libraries/javacsv/6.0.0" 
              required="true">
      </libraryNeeded>
   </extension>
</plugin>
