<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
		
	    <test name="MenuBefore">
		<classes>
		<class name="com.talend.tac.cases.menu.TestMenuDisplayBeforeAuthorizeAllRolesToAdmin"/>
		</classes>
		</test>
		
		<test name="authorize">
		<classes>
		<class name="com.talend.tac.cases.menu.TestAuthorizeAllRolesToAdmin"/>
		</classes> 
		</test>
		
		<test name="MenuAfter">
		<classes>
		<class name="com.talend.tac.cases.menu.TestMenuDisplayAfterAuthorizeAllRolesToAdmin"/>
		</classes>
		</test>
		
	
	
</suite>

