<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
		
    <test name="Menu01_MenuBefore" preserve-order="true">
		<classes>
			<class name="com.talend.tac.cases.menu.TestMenuDisplayBeforeAuthorizeAllRolesToAdmin">
			   <methods>
			      <include name="testMenuBeforeAuthorizeAllRolesToAdmin"/>
			      <include name="testMenuUsers"/>
			      <include name="testMenuConfiguration"/>
			      <include name="testMenuLicense"/>
			      <include name="testMenuProject"/>
			      <include name="testMenuProjectAuthorization"/>
			      <include name="testMenuProjectReferences"/>
			      <include name="testMenuUserSetting"/>
			   </methods>	
			</class>
		</classes>
	</test>
	
	<test name="Menu02_authorize">
		<classes>
			<class name="com.talend.tac.cases.menu.TestAuthorizeAllRolesToAdmin"/>
		</classes> 
	</test>
	
	<test name="Menu03_MenuAfter">
		<classes>
			<class name="com.talend.tac.cases.menu.TestMenuDisplayAfterAuthorizeAllRolesToAdmin"/>
		</classes>
	</test>
	
	<test name="Menu04_ChangeLicenseToCLOUD"  preserve-order="true">
	    <parameter name="license.MDM" value="org/talend/tac/folder/license/MDM_TDQ_EE_MPX.license" />
	    <parameter name="license.CLOUD" value="org/talend/tac/folder/license/CLOUD_EE_MPX.license"/>
		<classes>
			<class name="com.talend.tac.cases.menu.TestMenuDisplayAfterChangeLicenseToCLOUD">
			   <methods>
			       <include name="testMenuDisplayAfterChangeLicenseToCLOUD"/>
			       <include name="resetLicenseToMDM"/>
			   </methods>
			</class>
		</classes>
	</test>	
	
	
</suite>

