<?xml version="1.0" encoding="UTF-8" ?>
<suite name="Suite" parallel="false">
	<parameter name="changeServerLablename" value="test_ServerChangeports" />
	<parameter name="nullLabelServerHost" value="192.168.0.94" />
	<parameter name="labelServerStringPorts" value="test_ServerStringPorts" />
	<parameter name="serverLablename" value="test_serverTest" />
	<parameter name="deactiveServerlable" value="test_serverTest" />
	<parameter name="portInvalidServer" value="test_PortInvalidserver" />
	<parameter name="serverUnused" value="test_serverTest" />
	<parameter name="serverDescription" value="server" />

	<!-- local server -->
	<parameter name="serverHost" value="localhost" />
	<parameter name="serverCommondport" value="8000" />
	<parameter name="serverFiletransfortport" value="8001" />
	<parameter name="serverMonitorport" value="8888" />
	<parameter name="serverTimeout" value="120" />
	<parameter name="serverUsername" value="" />
	<parameter name="serverPassword" value="" />

	<!-- license  -->
	<parameter name="licenseMDM" value="org/talend/tac/folder/license/MDM_TDQ_EE_MPX.license" />
	<parameter name="licenseESB" value="org/talend/tac/folder/license/ESB_EE.license"/>
	
	<test name="server01_Addserver">
		<classes>
			<class name="com.talend.tac.cases.jobconductor.TestAddServer" />
			<class name="com.talend.tac.cases.jobconductor.TestAddServerWithStringPortsInput" />
			<class name="com.talend.tac.cases.jobconductor.TestAddServerWithNullLabel" />
			<class name="com.talend.tac.cases.jobconductor.TestLinktoLinuxAndWindows" />
			<class name="com.talend.tac.cases.jobconductor.TestAddServerWithInvalidports" />
			<class name="com.talend.tac.cases.jobconductor.TestAddServerLabelWithSpecialChar" />
			<class name="com.talend.tac.cases.jobconductor.TestDefaultJobServerPorts" />
		</classes>
	</test>
	
	<test name="server02_DeactiveReactiveServer">
	<classes>
		<class name="com.talend.tac.cases.jobconductor.TestDeactiveAndReactiveServer" />
	</classes>
    </test>
    
    <test name="server03_DuplicateServer">
	<classes>
		<class name="com.talend.tac.cases.jobconductor.TestDuplicateServer" />
	</classes>
    </test>
    
    <test name="server04_ChangeServerPort">
	<classes>
		<class name="com.talend.tac.cases.jobconductor.TestChangeServerPort" />
	</classes>
    </test>
    
    <test name="server05_deleteServer">
	<classes>
		<class name="com.talend.tac.cases.jobconductor.TestDeleteServer" />
	</classes>
    </test>
    
    <test name="server06_CleanServersNotUsed">
		<classes>
			<class name="com.talend.tac.cases.jobconductor.TestCleanServers" />
		</classes>
    </test>
    
    <test name="server07_PrepareServersForUse">
		<classes>
			<class name="com.talend.tac.cases.jobconductor.TestAddServerForUse" />
		</classes>
    </test>
    <!-- *****because this is had a bug on linux, so removed the config files for liunx execution auto***** -->
    <test name="server08_TestAddServerWithTalendRuntime">
	    <parameter name="serverLablename" value="testRuntimeServer" />
	    <parameter name="serverLablenameOfUncheckActive" value="testRuntimeServerOfUncheckActive" />
	    <parameter name="runtimeServerChangeDefaultPortLablename" value="testRuntimeServerChangeDefaultPort" />
		<parameter name="serverDescription" value="add a runtime server" />
		<classes>
			<class name="com.talend.tac.cases.jobconductor.TestAddServerWithTalendRuntime">
			    <methods>
			        <include name="testAddServerWithTalendRuntime"/>
			        <include name="testAddTalendRuntimeServerWithWrongFormatPort"/>			        
			        <include name="testAddTalendRuntimeServerAndChangeDefaultPort"/>
			        <include name="testAddTalendRuntimeServerAndSetRuntimePortsAreNull"/>
			        <include name="testAddRuntimeServerOfUncheckActive"/>
			    </methods>
			</class>
		</classes>
    </test>
    
    <test name="server09_TestAddServerWithTalendRuntime" preserve-order="true">
		<classes>
		    <parameter name="serverLablename" value="testRuntimeServer" />
		    <parameter name="runtimeServerChangeDefaultPortLablename" value="testRuntimeServerChangeDefaultPort" />
			<class name="com.talend.tac.cases.jobconductor.TestServerFilters">
			    <methods>
			        <include name="testServerFiltersInJobconductor"/>
			        <include name="testServerFiltersInEsbconductor"/>
			        <include name="resetLicenseToMDM"/>
			    </methods>
			</class>
		</classes>
    </test>
    
    <test name="server10_TestAddServerWithTalendRuntime" preserve-order="true">
		<classes>
		    <parameter name="serverLablename" value="testRuntimeServer" />
		    <parameter name="serverLablenameOfUncheckActive" value="testRuntimeServerOfUncheckActive" />
		    <parameter name="runtimeServerChangeDefaultPortLablename" value="testRuntimeServerChangeDefaultPort" />
			<class name="com.talend.tac.cases.jobconductor.TestServerDisplyInVirtualServersPage"/>
		</classes>
    </test>

    <test name="server11_TestAddServerWithTalendRuntime" preserve-order="true">
        <parameter name="serverLablename" value="testRuntimeServer" />
		<classes>
		   <class name="com.talend.tac.cases.jobconductor.TestOpenLinksOfAdminServerConsole"/>
		</classes>
    </test>
</suite>