<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.talend.core.runtime.librariesNeeded">
        <libraryNeeded
              context="plugin:org.talend.libraries.apache.cxf"
              language="java"
              message="Needed for the cxf dependencies"
              name="javax.ws.rs-api-2.0-m10.jar" mvn_uri="mvn:org.talend.libraries/javax.ws.rs-api-2.0-m10/6.0.0" 
              required="true">
        </libraryNeeded>
        <libraryNeeded
              context="plugin:org.talend.libraries.apache.cxf"
              language="java"
              message="Needed for the cxf dependencies"
              name="woodstox-core-asl-4.2.0.jar" mvn_uri="mvn:org.talend.libraries/woodstox-core-asl-4.2.0/6.0.0" 
              required="true">
        </libraryNeeded>
    </extension>
</plugin>
