<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.librariesmanager.model.service.LibrariesService"
            serviceId="ILibrariesService"/>
      <Service
            class="org.talend.librariesmanager.model.service.RoutinesProviderService"
            serviceId="IRoutinesService">
      </Service>
      <Service
            class="org.talend.librariesmanager.model.service.LocalLibraryManager"
            serviceId="ILibraryManagerService">
      </Service>
   </extension>
   <extension
         point="org.eclipse.ui.views">
     <view
           category="org.talend.core.root"
           class="org.talend.librariesmanager.ui.views.ModulesView"
           icon="icons/modules_view.gif"
           id="org.talend.designer.codegen.perlmodule.ModulesView"
           name="Modules"/>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="talend.modules"
            name="Modules view"
            parentId="org.eclipse.ui.contexts.window"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
   <command
            categoryId="talend"
            id="refreshModules"
            name="Refresh modules"/>
   <command
         categoryId="talend"
         id="showModulesView"
         name="Show modules view"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="refreshModules"
            contextId="talend.modules"
            schemeId="org.talend.core.scheme"
            sequence="F5"/>
      <key
         commandId="showModulesView"
         contextId="talend.global"
         schemeId="org.talend.core.scheme"
         sequence="CTRL+F2"/>
   </extension>
   <extension
         point="org.talend.core.global_actions">
      <GlobalAction class="org.talend.librariesmanager.ui.actions.ShowModulesViewAction"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.talend.designer.core.ui.preferences.SpecificSettingPreferencePage"
            class="org.talend.librariesmanager.prefs.LibrariesMainPreferencesPage"
            id="org.talend.librariesmanager.mainpage"
            name="%preferencespage.main"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.talend.librariesmanager.prefs.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.talend.core.routines_provider">
      <RoutinesProvider
            class="org.talend.librariesmanager.model.service.TosRoutinesProviderCreator">
      </RoutinesProvider>
   </extension>
   <extension
         point="org.talend.core.java_type">
      <JavaType
            Name="Document"
            displayInContext="false"
            generateWithCanonicalName="false"
            nullableClass="routines.system.Document"
            objectBased="true">
      </JavaType>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.talend.librariesmanager.emf.librariesindex.LibrariesindexPackage"
            genModel="model/librariesindex.genmodel"
            uri="www.talend.com/librariesindex">
      </package>
   </extension>
   <extension
         point="org.talend.core.systemRoutineLibrary">
      <systemRoutine
            name="Document">
         <library
               name="dom4j-1.6.1.jar">
         </library>
      </systemRoutine>
      <systemRoutine
            name="DocumentHelper">
         <library
               name="dom4j-1.6.1.jar">
         </library>
      </systemRoutine>
      <systemRoutine
            name="DocumentToFlat">
         <library
               name="dom4j-1.6.1.jar">
         </library>
      </systemRoutine>
      <systemRoutine
            name="NameSpaceTool">
         <library
               name="dom4j-1.6.1.jar">
         </library>
      </systemRoutine>
      <systemRoutine
            name="ParserUtils">
         <library
               name="dom4j-1.6.1.jar">
         </library>
      </systemRoutine>
      <systemRoutine
            name="TalendMDMJob">
         <library
               name="dom4j-1.6.1.jar">
         </library>
      </systemRoutine>
   </extension>
</plugin>
