<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.talend.metadata.managment.DBDriver_extension" name="DBDriver_extension" schema="schema/org.talend.metadata.managment.DBDriver_extension.exsd"/>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.core.model.MetadataManagmentService"
            serviceId="IMetadataManagmentService">
      </Service>
   </extension>
   <extension
         point="org.talend.core.runtime.classloader_provider">
      <classloader
            index="HIVE:HORTONWORKS:HDP_1_0:EMBEDDED"
            libraries="hive-hbase-handler-0.9.0.jar;hbase-0.92.0.jar;hadoop-core-1.0.3.jar;commons-logging-1.0.4.jar;datanucleus-api-jdo-3.0.7.jar;datanucleus-core-3.0.9.jar;datanucleus-rdbms-3.0.8.jar;hive-builtins-0.9.0.jar;hive-exec-0.9.0_hdp.jar;hive-jdbc-0.9.0_hdp.jar;hive-metastore-0.9.0_hdp.jar;hive-service-0.9.0_hdp.jar;libfb303-0.7.0.jar;libthrift-0.7.0.jar;commons-lang-2.4.jar;antlr-runtime-3.0.1.jar;commons-dbcp-1.4.jar;commons-pool-1.5.4.jar;derby-10.4.2.0.jar;commons-configuration-1.6.jar;jdo2-api-2.3-ec.jar;log4j-1.2.15.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;jackson-core-asl-1.8.8.jar;jackson-mapper-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HIVE:HORTONWORKS:HDP_1_2:EMBEDDED"
            libraries="hive-hbase-handler-0.10.0.21.jar;hbase-0.94.2.21.jar;commons-logging-1.0.4.jar;datanucleus-api-jdo-3.0.7.jar;datanucleus-core-3.0.9.jar;datanucleus-rdbms-3.0.8.jar;hadoop-core-1.1.2.21.jar;hive-builtins-0.10.0.21.jar;hive-exec-0.10.0.21.jar;hive-jdbc-0.10.0.21.jar;hive-metastore-0.10.0.21.jar;hive-service-0.10.0.21.jar;libfb303-0.9.0.jar;libthrift-0.9.0.jar;commons-lang-2.4.jar;antlr-runtime-3.0.1.jar;commons-dbcp-1.4.jar;commons-pool-1.5.4.jar;derby-10.4.2.0.jar;commons-configuration-1.6.jar;jdo2-api-2.3-ec.jar;log4j-1.2.16.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;jackson-core-asl-1.8.8.jar;jackson-mapper-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HIVE:APACHE:APACHE_0_20_203:STANDALONE"
            libraries="hadoop-core-0.20.203.0.jar;log4j-1.2.15.jar;hive-exec-0.7.1.jar;hive-jdbc-0.7.1.jar;hive-metastore-0.7.1.jar;hive-service-0.7.1.jar;libfb303.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;commons-logging-1.1.1.jar;commons-logging-api-1.0.4.jar">
      </classloader>
      <classloader
            index="HIVE:APACHE:APACHE_1_0_0:STANDALONE"
            libraries="hive-exec-0.9.0.jar;hive-jdbc-0.9.0.jar;hive-metastore-0.9.0.jar;hive-service-0.9.0.jar;libfb303_new.jar;libthrift.jar;hadoop-core-1.0.0.jar;commons-logging-1.1.1.jar;datanucleus-connectionpool-2.0.3.jar;datanucleus-enhancer-2.0.3.jar;datanucleus-core-2.0.3.jar;datanucleus-rdbms-2.0.3.jar;hive-builtins-0.4.0.jar;log4j-1.2.15.jar;slf4j-api-1.6.1.jar;antlr-runtime-3.0.1.jar;commons-dbcp-1.4.jar;commons-pool-1.5.4.jar;derby-10.4.2.0.jar;commons-configuration-1.6.jar;jdo2-api-2.3-ec.jar;commons-lang-2.4.jar;slf4j-log4j12-1.6.1.jar;jackson-core-asl-1.8.8.jar;jackson-mapper-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HIVE:APACHE:APACHE_1_0_0:EMBEDDED"
            libraries="hive-exec-0.9.0.jar;hive-jdbc-0.9.0.jar;hive-metastore-0.9.0.jar;hive-service-0.9.0.jar;libfb303_new.jar;libthrift.jar;hadoop-core-1.0.0.jar;commons-logging-1.1.1.jar;datanucleus-connectionpool-2.0.3.jar;datanucleus-enhancer-2.0.3.jar;datanucleus-core-2.0.3.jar;datanucleus-rdbms-2.0.3.jar;hive-builtins-0.4.0.jar;log4j-1.2.15.jar;slf4j-api-1.6.1.jar;antlr-runtime-3.0.1.jar;commons-dbcp-1.4.jar;commons-pool-1.5.4.jar;derby-10.4.2.0.jar;commons-configuration-1.6.jar;jdo2-api-2.3-ec.jar;commons-lang-2.4.jar;slf4j-log4j12-1.6.1.jar;jackson-core-asl-1.8.8.jar;jackson-mapper-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HIVE:CLOUDERA:Cloudera_CDH3:STANDALONE"
            libraries="hadoop-core-0.20.203.0.jar;log4j-1.2.15.jar;hive-exec-0.7.1.jar;hive-jdbc-0.7.1.jar;hive-metastore-0.7.1.jar;hive-service-0.7.1.jar;libfb303.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;commons-logging-1.1.1.jar;commons-logging-api-1.0.4.jar">
      </classloader>
      <classloader
            index="HIVE:CLOUDERA:Cloudera_CDH4:STANDALONE"
            libraries="hive-exec-0.9.0-cdh4.1.2.jar;hive-jdbc-0.9.0-cdh4.1.2.jar;hive-metastore-0.9.0-cdh4.1.2.jar;hive-service-0.9.0-cdh4.1.2.jar;libfb303_new.jar;libthrift.jar;log4j-1.2.16.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;hadoop-common-2.0.0-cdh4.0.1.jar;hadoop-core-2.0.0-mr1-cdh4.0.1.jar;hadoop-auth-2.0.0-cdh4.0.1.jar;hadoop-hdfs-2.0.0-cdh4.0.1.jar;protobuf-java-2.4.0a.jar;guava-11.0.2.jar;commons-logging-1.1.1.jar;antlr-runtime-3.0.1.jar;commons-dbcp-1.4.jar;commons-pool-1.5.4.jar;datanucleus-connectionpool-2.0.3.jar;datanucleus-enhancer-2.0.3.jar;derby-10.4.2.0.jar;hive-builtins-0.9.0-cdh4.1.2.jar;commons-configuration-1.6.jar;datanucleus-core-2.0.3.jar;datanucleus-rdbms-2.0.3.jar;jdo2-api-2.3-ec.jar;commons-lang-2.4.jar;jackson-core-asl-1.8.8.jar;jackson-mapper-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HIVE:CLOUDERA:Cloudera_CDH4:EMBEDDED"
            libraries="hive-hbase-handler-0.9.0-cdh4.1.2.jar;hbase-0.92.1-cdh4.0.1-security.jar;hive-exec-0.9.0-cdh4.1.2.jar;hive-jdbc-0.9.0-cdh4.1.2.jar;hive-metastore-0.9.0-cdh4.1.2.jar;hive-service-0.9.0-cdh4.1.2.jar;libfb303_new.jar;libthrift.jar;log4j-1.2.16.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;hadoop-common-2.0.0-cdh4.0.1.jar;hadoop-core-2.0.0-mr1-cdh4.0.1.jar;hadoop-auth-2.0.0-cdh4.0.1.jar;hadoop-hdfs-2.0.0-cdh4.0.1.jar;protobuf-java-2.4.0a.jar;guava-11.0.2.jar;commons-logging-1.1.1.jar;antlr-runtime-3.0.1.jar;commons-dbcp-1.4.jar;commons-pool-1.5.4.jar;datanucleus-connectionpool-2.0.3.jar;datanucleus-enhancer-2.0.3.jar;derby-10.4.2.0.jar;hive-builtins-0.9.0-cdh4.1.2.jar;commons-configuration-1.6.jar;datanucleus-core-2.0.3.jar;datanucleus-rdbms-2.0.3.jar;jdo2-api-2.3-ec.jar;commons-lang-2.4.jar;jackson-core-asl-1.8.8.jar;jackson-mapper-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HIVE:MAPR:MAPR1:STANDALONE"
            libraries="hadoop-core-0.20.203.0.jar;log4j-1.2.15.jar;hive-exec-0.7.1.jar;hive-jdbc-0.7.1.jar;hive-metastore-0.7.1.jar;hive-service-0.7.1.jar;libfb303.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;commons-logging-1.1.1.jar;commons-logging-api-1.0.4.jar">
      </classloader>
      <classloader
            index="HIVE:MAPR:MAPR2:STANDALONE"
            libraries="hadoop-0.20.2-dev-core-mapr2.jar;log4j-1.2.16.jar;hive-exec-0.9.0-mapr2.jar;hive-jdbc-0.9.0-mapr2.jar;hive-metastore-0.9.0-mapr2.jar;hive-service-0.9.0-mapr2.jar;libfb303_new.jar;libthrift.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;commons-logging-1.0.4.jar;commons-logging-api-1.0.4.jar;jdo2-api-2.3-ec.jar;antlr-runtime-3.0.1.jar;datanucleus-connectionpool-2.0.3.jar;datanucleus-enhancer-2.0.3.jar;datanucleus-core-2.0.3.jar;datanucleus-rdbms-2.0.3.jar;derby-10.4.2.0.jar;maprfs-0.1.jar;zookeeper-3.3.2.jar;hive-builtins-0.9.0-mapr2.jar;commons-lang-2.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;commons-dbcp-1.4.jar;commons-pool-1.5.4.jar">
      </classloader>
      <classloader
            index="HIVE:MAPR:MAPR2:EMBEDDED"
            libraries="hive-hbase-handler-0.9.0.jar;hbase-0.92.1.jar;hadoop-0.20.2-dev-core-mapr2.jar;log4j-1.2.16.jar;hive-exec-0.9.0-mapr2.jar;hive-jdbc-0.9.0-mapr2.jar;hive-metastore-0.9.0-mapr2.jar;hive-service-0.9.0-mapr2.jar;libfb303_new.jar;libthrift.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;commons-logging-1.0.4.jar;commons-logging-api-1.0.4.jar;jdo2-api-2.3-ec.jar;antlr-runtime-3.0.1.jar;datanucleus-connectionpool-2.0.3.jar;datanucleus-enhancer-2.0.3.jar;datanucleus-core-2.0.3.jar;datanucleus-rdbms-2.0.3.jar;derby-10.4.2.0.jar;maprfs-0.1.jar;zookeeper-3.3.2.jar;hive-builtins-0.9.0-mapr2.jar;commons-lang-2.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;commons-dbcp-1.4.jar;commons-pool-1.5.4.jar">
      </classloader>
      <classloader
            index="HIVE:AMAZON_EMR:MapR_EMR:STANDALONE"
            libraries="hadoop-core-0.20.203.0.jar;log4j-1.2.15.jar;hive-exec-0.7.1.jar;hive-jdbc-0.7.1.jar;hive-metastore-0.7.1.jar;hive-service-0.7.1.jar;libfb303.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;commons-logging-1.1.1.jar;commons-logging-api-1.0.4.jar">
      </classloader>
      <classloader
            index="HIVE:AMAZON_EMR:APACHE_1_0_3_EMR:STANDALONE"
            libraries="hive-exec-0.9.0.jar;hive-jdbc-0.9.0.jar;hive-metastore-0.9.0.jar;hive-service-0.9.0.jar;libfb303_new.jar;libthrift.jar;hadoop-core-1.0.0.jar;commons-logging-1.1.1.jar;datanucleus-connectionpool-2.0.3.jar;datanucleus-enhancer-2.0.3.jar;datanucleus-core-2.0.3.jar;datanucleus-rdbms-2.0.3.jar;hive-builtins-0.4.0.jar;log4j-1.2.15.jar;slf4j-api-1.6.1.jar;antlr-runtime-3.0.1.jar;commons-dbcp-1.4.jar;commons-pool-1.5.4.jar;derby-10.4.2.0.jar;commons-configuration-1.6.jar;jdo2-api-2.3-ec.jar;commons-lang-2.4.jar;slf4j-log4j12-1.6.1.jar;jackson-core-asl-1.8.8.jar;jackson-mapper-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HIVE:AMAZON_EMR:APACHE_1_0_3_EMR:EMBEDDED"
            libraries="hive-exec-0.9.0.jar;hive-jdbc-0.9.0.jar;hive-metastore-0.9.0.jar;hive-service-0.9.0.jar;libfb303_new.jar;libthrift.jar;hadoop-core-1.0.0.jar;commons-logging-1.1.1.jar;datanucleus-connectionpool-2.0.3.jar;datanucleus-enhancer-2.0.3.jar;datanucleus-core-2.0.3.jar;datanucleus-rdbms-2.0.3.jar;hive-builtins-0.4.0.jar;log4j-1.2.15.jar;slf4j-api-1.6.1.jar;antlr-runtime-3.0.1.jar;commons-dbcp-1.4.jar;commons-pool-1.5.4.jar;derby-10.4.2.0.jar;commons-configuration-1.6.jar;jdo2-api-2.3-ec.jar;commons-lang-2.4.jar;slf4j-log4j12-1.6.1.jar;jackson-core-asl-1.8.8.jar;jackson-mapper-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HIVE2:HORTONWORKS:HDP_1_2:EMBEDDED"
            libraries="commons-logging-1.0.4.jar;datanucleus-api-jdo-3.0.7.jar;datanucleus-core-3.0.9.jar;datanucleus-rdbms-3.0.8.jar;hadoop-core-1.1.2.21.jar;hive-builtins-0.10.0.21.jar;hive-exec-0.10.0.21.jar;hive-jdbc-0.10.0.21.jar;hive-metastore-0.10.0.21.jar;hive-service-0.10.0.21.jar;libfb303-0.9.0.jar;libthrift-0.9.0.jar;commons-lang-2.4.jar;antlr-runtime-3.0.1.jar;commons-dbcp-1.4.jar;commons-pool-1.5.4.jar;derby-10.4.2.0.jar;commons-configuration-1.6.jar;jdo2-api-2.3-ec.jar;log4j-1.2.16.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;jackson-core-asl-1.8.8.jar;jackson-mapper-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HIVE:MAPR:MAPR212:EMBEDDED"
            libraries="hadoop-0.20.2-dev-core-mapr212.jar;log4j-1.2.16.jar;hive-exec-0.10.0.jar;hive-jdbc-0.10.0.jar;hive-metastore-0.10.0.jar;hive-service-0.10.0.jar;libfb303-0.9.0.jar;libthrift-0.9.0.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;commons-logging-1.0.4.jar;commons-logging-api-1.0.4.jar;jdo2-api-2.3-ec.jar;antlr-runtime-3.0.1.jar;datanucleus-connectionpool-2.0.3.jar;datanucleus-enhancer-2.0.3.jar;datanucleus-core-2.0.3.jar;datanucleus-rdbms-2.0.3.jar;derby-10.4.2.0.jar;maprfs-0.20.2-2.1.2.jar;maprfs-jni-0.20.2-2.1.2.jar;zookeeper-3.3.6.jar;hive-builtins-0.10.0.jar;commons-lang-2.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;commons-dbcp-1.4.jar;commons-pool-1.5.4.jar;guava-13.0.1.jar">
      </classloader>
      <classloader
            index="HIVE:MAPR:MAPR212:STANDALONE"
            libraries="hadoop-0.20.2-dev-core-mapr212.jar;log4j-1.2.16.jar;hive-exec-0.10.0.jar;hive-jdbc-0.10.0.jar;hive-metastore-0.10.0.jar;hive-service-0.10.0.jar;libfb303-0.9.0.jar;libthrift-0.9.0.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;commons-logging-1.0.4.jar;commons-logging-api-1.0.4.jar;jdo2-api-2.3-ec.jar;antlr-runtime-3.0.1.jar;datanucleus-connectionpool-2.0.3.jar;datanucleus-enhancer-2.0.3.jar;datanucleus-core-2.0.3.jar;datanucleus-rdbms-2.0.3.jar;derby-10.4.2.0.jar;maprfs-0.20.2-2.1.2.jar;maprfs-jni-0.20.2-2.1.2.jar;zookeeper-3.3.6.jar;hive-builtins-0.10.0.jar;commons-lang-2.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;commons-dbcp-1.4.jar;commons-pool-1.5.4.jar;guava-13.0.1.jar">
      </classloader>
      <classloader
            index="HIVE2:MAPR:MAPR2:EMBEDDED"
            libraries="commons-logging-1.0.4.jar;datanucleus-api-jdo-3.0.7.jar;datanucleus-core-3.0.9.jar;datanucleus-rdbms-3.0.8.jar;hadoop-core-1.1.2.21.jar;hive-builtins-0.10.0.21.jar;hive-exec-0.10.0.21.jar;hive-jdbc-0.10.0.21.jar;hive-metastore-0.10.0.21.jar;hive-service-0.10.0.21.jar;libfb303-0.9.0.jar;libthrift-0.9.0.jar;commons-lang-2.4.jar;antlr-runtime-3.0.1.jar;commons-dbcp-1.4.jar;commons-pool-1.5.4.jar;derby-10.4.2.0.jar;commons-configuration-1.6.jar;jdo2-api-2.3-ec.jar;log4j-1.2.16.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;jackson-core-asl-1.8.8.jar;jackson-mapper-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HIVE2:MAPR:MAPR2:STANDALONE"
            libraries="commons-logging-1.0.4.jar;datanucleus-api-jdo-3.0.7.jar;datanucleus-core-3.0.9.jar;datanucleus-rdbms-3.0.8.jar;hadoop-core-1.1.2.21.jar;hive-builtins-0.10.0.21.jar;hive-exec-0.10.0.21.jar;hive-jdbc-0.10.0.21.jar;hive-metastore-0.10.0.21.jar;hive-service-0.10.0.21.jar;libfb303-0.9.0.jar;libthrift-0.9.0.jar;commons-lang-2.4.jar;antlr-runtime-3.0.1.jar;commons-dbcp-1.4.jar;commons-pool-1.5.4.jar;derby-10.4.2.0.jar;commons-configuration-1.6.jar;jdo2-api-2.3-ec.jar;log4j-1.2.16.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;jackson-core-asl-1.8.8.jar;jackson-mapper-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HIVE2:CLOUDERA:Cloudera_CDH4:STANDALONE"
            libraries="commons-logging-1.0.4.jar;datanucleus-api-jdo-3.0.7.jar;datanucleus-core-3.0.9.jar;datanucleus-rdbms-3.0.8.jar;hadoop-core-1.1.2.21.jar;hive-builtins-0.10.0.21.jar;hive-exec-0.10.0.21.jar;hive-jdbc-0.10.0.21.jar;hive-metastore-0.10.0.21.jar;hive-service-0.10.0.21.jar;libfb303-0.9.0.jar;libthrift-0.9.0.jar;commons-lang-2.4.jar;antlr-runtime-3.0.1.jar;commons-dbcp-1.4.jar;commons-pool-1.5.4.jar;derby-10.4.2.0.jar;commons-configuration-1.6.jar;jdo2-api-2.3-ec.jar;log4j-1.2.16.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;jackson-core-asl-1.8.8.jar;jackson-mapper-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HIVE2:CLOUDERA:Cloudera_CDH4:EMBEDDED"
            libraries="commons-logging-1.0.4.jar;datanucleus-api-jdo-3.0.7.jar;datanucleus-core-3.0.9.jar;datanucleus-rdbms-3.0.8.jar;hadoop-core-1.1.2.21.jar;hive-builtins-0.10.0.21.jar;hive-exec-0.10.0.21.jar;hive-jdbc-0.10.0.21.jar;hive-metastore-0.10.0.21.jar;hive-service-0.10.0.21.jar;libfb303-0.9.0.jar;libthrift-0.9.0.jar;commons-lang-2.4.jar;antlr-runtime-3.0.1.jar;commons-dbcp-1.4.jar;commons-pool-1.5.4.jar;derby-10.4.2.0.jar;commons-configuration-1.6.jar;jdo2-api-2.3-ec.jar;log4j-1.2.16.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;jackson-core-asl-1.8.8.jar;jackson-mapper-asl-1.8.8.jar">
      </classloader>
   </extension>

</plugin>
