<project name="server" default="server" basedir=".">
	<taskdef resource="net/sf/antcontrib/antcontrib.properties"/>
    <target name="os">
    	<condition property="is.unix">
    		<os family="unix"/>
    	</condition>
    	<condition property="is.windows">
    		<os family="windows"/>
    	</condition>
    </target>
	
	<!-- - - - - - - - - - - - - - - - - - 
          target: launch-zookeeper                   
         - - - - - - - - - - - - - - - - - -->
    <target name="server" depends="os">
    	<if>
    		<isset property="is.windows"/>
    		<then>
    			<exec executable="cmd" dir="${server.home}/bin"
    				spawn="true">
    				<arg value="/c"/>
					<arg value="${command}"/>
					<arg value="${action}"/>
    			</exec>
    			<echo>${server.home}/bin</echo>
    			<echo>${command}</echo>
    			<echo>${action}</echo>
    		</then>
    		
    		<else>
    			<exec executable="sh" dir="${server.home}/bin"
    				spawn="true">
    				<arg value="-c"/>
    				<arg value="sh ${command} ${action}"/>
    			</exec>
    		</else>
    	</if>
    </target>

	
	<!-- - - - - - - - - - - - - - - - - - 
          target: launch-commandline                     
         - - - - - - - - - - - - - - - - - -->
    <target name="launch-commandline" depends="os">
    	<if>
    		<isset property="is.windows"/>
    		<then>
    			<exec executable="cmd" dir="${talend-all.home}"
    				spawn="true">
    					<arg value="/c"/>
    					<arg value="${commandline.launcher}"/>
    			</exec>
    		</then>
    		
    		<else>
    			<exec executable="sh" dir="${talend-all.home}"
    				spawn="true">
    				<arg value="-c"/>
    				<arg value="chmod +x Talend-linux-gtk-x86"/>
    			</exec>
    	    	
    			<exec executable="sh" dir="${talend-all.home}"
    				spawn="true">
    				<arg value="-c"/>
    				<arg value="sh ${commandline.launcher}"/>
    			</exec>
    		</else>
    	</if>
    </target>
	
	<!-- - - - - - - - - - - - - - - - - - 
          target: stop-commandline                      
         - - - - - - - - - - - - - - - - - -->
    <target name="stop-commandline">
    	<java jar="src/main/java/org/talend/tac/folder/libs/telnet.jar"
    		dir="${talend-all.home}"
    		fork="true" spawn="true">
	    		<arg value="${commandline.ip}"/>
	    		<arg value="${commandline.port}"/>
	    		<arg value="stopServer"/>
    	</java>
    </target>
	
</project>

