<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension point="org.eclipse.ui.navigator.navigatorContent">

   <navigatorContent
            appearsBefore="org.talend.repository.viewer.root.jobDesigns"
            contentProvider="org.talend.repository.viewer.content.example.ExampleCompContentProvider"
            id="org.talend.repository.viewer.root.content.OemModelContent"
            labelProvider="org.talend.repository.viewer.label.example.ExampleCompLabelProvider"
            name="OEM model">
         <triggerPoints>
            <or>
               <adapt
                     type="org.talend.repository.model.ProjectRepositoryNode">
               </adapt>
               <instanceof
                     value="org.talend.repository.model.ProjectRepositoryNode">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="java.lang.String">
            </instanceof>
         </possibleChildren>
         <actionProvider
               class="org.talend.repository.viewer.action.OemActionProvider">
         </actionProvider>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.talend.repository.viewer.content.example.ExampleSubCompProvider"
            id="org.talend.repository.viewer.content.OemExtension.content"
            labelProvider="org.talend.repository.viewer.label.example.ExampleCompLabelProvider"
            name="OEM content extension">
         <triggerPoints>
            <or>
               <and>
                  <instanceof
                        value="java.lang.String">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.example.isBM">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.example.isJob">
                  </test>
               </and>
            </or>
          </triggerPoints>
      </navigatorContent>

      <navigatorContent
            activeByDefault="true"
            contentProvider="org.talend.repository.viewer.content.EmptyContentProvider"
            id="org.talend.repository.viewer.root.removed"
            labelProvider="org.talend.repository.viewer.label.EmptyLabelProvider"
            name="remove jobs content">
         <override
               policy="InvokeAlwaysRegardlessOfSuppressedExt"
               suppressedExtensionId="org.talend.repository.viewer.root.jobDesigns">
         </override>
         <triggerPoints></triggerPoints>
         <possibleChildren>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            contentProvider="org.talend.repository.viewer.content.example.JobWithoutAnAContentProvider"
            id="org.talend.repository.viewer.root.example.jobs.withoutAnA"
            labelProvider="org.talend.repository.viewer.label.example.JobWithoutAnALabelProvider"
            name="job without an A">
         <triggerPoints>
            <or>
               <adapt
                     type="org.talend.repository.model.ProjectRepositoryNode">
               </adapt>
               <instanceof
                     value="org.talend.repository.model.ProjectRepositoryNode">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            contentProvider="org.talend.repository.viewer.content.example.JobOnlyWithAnAContentProvider"
            id="org.talend.repository.viewer.root.example.jobs.only.withAnA"
            labelProvider="org.talend.repository.viewer.label.example.JobOnlyWithAnALabelProvider"
            name="job only with an A">
         <triggerPoints>
            <or>
               <adapt
                     type="org.talend.repository.model.ProjectRepositoryNode">
               </adapt>
               <instanceof
                     value="org.talend.repository.model.ProjectRepositoryNode">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
         <actionProvider
               class="org.talend.repository.viewer.actions.example.ActionProviderThatRemovesCreateFolderContextualMenu"
               overrides="org.talend.repository.viewer.root.jobDesigns.ActionProvider"
               priority="highest">
            <enablement>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isJobBranch">
                  </test>
                  <not>
                     <test
                           forcePluginActivation="true"
                           property="org.talend.repository.node.isDeleted">
                     </test>
                  </not>
               </and>
            </enablement>
         </actionProvider>
      </navigatorContent>
      <actionProvider
            class="org.talend.repository.view.di.viewer.action.DIRepositoryNodeActionProvider"
            id="org.talend.repository.view.example.actionprovider.to.remove.create.folder">
         <enablement>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.isJobBranch">
               </test>
               <not>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isDeleted">
                  </test>
               </not>
            </and>
         </enablement>
      </actionProvider>
</extension>
<extension
      point="org.eclipse.core.expressions.propertyTesters">
   <propertyTester
         class="org.talend.repository.tester.example.ExampleTester"
         id="org.talend.example.tester"
         namespace="org.talend.example"
         properties="isBM"
         type="java.lang.String">
   </propertyTester>
   <propertyTester
         class="org.talend.repository.tester.example.ExampleTester"
         id="org.talend.repository.view.propertyTester2"
         namespace="org.talend.example"
         properties="isJob"
         type="org.talend.repository.model.RepositoryNode">
   </propertyTester>
</extension>

</plugin>
