<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.talend.metadata.managment.DBDriver_extension" name="DBDriver_extension" schema="schema/org.talend.metadata.managment.DBDriver_extension.exsd"/>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.metadata.managment.MetadataManagmentService"
            serviceId="IMetadataManagmentService">
      </Service>
   </extension>
   <extension
         point="org.talend.core.runtime.classloader_provider">
      <!-- Seems those 3 are not useful -->
      <classloader
            index="HIVE:HORTONWORKS:HDP_1_0:EMBEDDED"
            libraries="hive-hbase-handler-0.9.0.jar;hbase-0.92.0.jar;hadoop-core-1.0.3.jar;commons-logging-1.0.4.jar;datanucleus-api-jdo-3.0.7.jar;datanucleus-core-3.0.9.jar;datanucleus-rdbms-3.0.8.jar;hive-builtins-0.9.0.jar;hive-exec-0.9.0_hdp.jar;hive-jdbc-0.9.0_hdp.jar;hive-metastore-0.9.0_hdp.jar;hive-service-0.9.0_hdp.jar;libfb303-0.7.0.jar;libthrift-0.7.0.jar;commons-lang-2.4.jar;antlr-runtime-3.0.1.jar;commons-dbcp-1.4.jar;commons-pool-1.5.4.jar;derby-10.4.2.0.jar;commons-configuration-1.6.jar;jdo2-api-2.3-ec.jar;log4j-1.2.16.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;jackson-core-asl-1.8.8.jar;jackson-mapper-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HIVE:CLOUDERA:Cloudera_CDH3:STANDALONE"
            libraries="hadoop-core-0.20.203.0.jar;log4j-1.2.16.jar;hive-exec-0.7.1.jar;hive-jdbc-0.7.1.jar;hive-metastore-0.7.1.jar;hive-service-0.7.1.jar;libfb303.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;commons-logging-1.1.1.jar;commons-logging-api-1.0.4.jar">
      </classloader>
      <classloader
            index="HIVE:AMAZON_EMR:MapR_EMR:STANDALONE"
            libraries="hadoop-core-0.20.203.0.jar;log4j-1.2.16.jar;hive-exec-0.7.1.jar;hive-jdbc-0.7.1.jar;hive-metastore-0.7.1.jar;hive-service-0.7.1.jar;libfb303.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;commons-logging-1.1.1.jar;commons-logging-api-1.0.4.jar">
      </classloader>
      <!-- -->
      <classloader
            index="MDM_S56"
            libraries="mdm_webservice.jar">
      </classloader>
      <classloader
            index="MDM_S60"
            libraries="mdm_webservice_tomcat.jar">
      </classloader>
   </extension>
   <extension
         point="org.talend.core.runtime.librariesNeeded">
      <libraryNeeded
            context="plugin:org.talend.metadata.managment"
            language="java"
            message="Needed for plugin org.talend.metadata.managment"
            mvn_uri="mvn:org.talend.libraries/wsdl4j-1.5.1/6.0.0"
            name="wsdl4j-1.5.1.jar"
            required="false"
            uripath="platform:/plugin/org.talend.libraries.apache/lib/wsdl4j-1.5.1.jar">
      </libraryNeeded>
            <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard for hive HDP 2.0 Embedded"
            name="httpcore-4.1.2.jar" mvn_uri="mvn:org.talend.libraries/httpcore-4.1.2/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.http/lib/httpcore-4.1.2.jar">
      </libraryNeeded>
            <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard for hive HDP 2.0"
            name="httpclient-4.1.2.jar" mvn_uri="mvn:org.talend.libraries/httpclient-4.1.2/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.http/lib/httpclient-4.1.2.jar">
      </libraryNeeded>
       <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for Hive"
            name="hive-service-0.7.1.jar" mvn_uri="mvn:org.talend.libraries/hive-service-0.7.1/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.apache.0.20.203/lib/hive-service-0.7.1.jar">
      </libraryNeeded>
            <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for Hive"
            name="hadoop-core-0.20.203.0.jar" mvn_uri="mvn:org.talend.libraries/hadoop-core-0.20.203.0/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.apache.0.20.203/lib/hadoop-core-0.20.203.0.jar">
      </libraryNeeded>
            <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for Hive"
            name="hive-exec-0.7.1.jar" mvn_uri="mvn:org.talend.libraries/hive-exec-0.7.1/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.apache.0.20.203/lib/hive-exec-0.7.1.jar">
      </libraryNeeded>
            <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for Hive"
            name="hive-metastore-0.7.1.jar" mvn_uri="mvn:org.talend.libraries/hive-metastore-0.7.1/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.apache.0.20.203/lib/hive-metastore-0.7.1.jar">
      </libraryNeeded>
            <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for Hive"
            name="libfb303.jar" mvn_uri="mvn:org.talend.libraries/libfb303/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.apache.0.20.203/lib/libfb303.jar">
      </libraryNeeded>
            <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for Hive"
            name="hive-jdbc-0.7.1.jar" mvn_uri="mvn:org.talend.libraries/hive-jdbc-0.7.1/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.apache.0.20.203/lib/hive-jdbc-0.7.1.jar">
      </libraryNeeded>
            <libraryNeeded
            context="Hive wizard"
            language="java"
            message="Wizard use for Hive"
            name="commons-lang-2.4.jar" mvn_uri="mvn:org.talend.libraries/commons-lang-2.4/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.common/lib/commons-lang-2.4.jar">
      </libraryNeeded>
   </extension>
   <extension
         point="org.talend.core.runtime.hadoopConnectionCreator">
      <creator
            class="org.talend.metadata.managment.hive.creator.HiveConnectionCreator">
      </creator>
   </extension>
   <extension
         point="org.talend.core.migrationTask">
      <projecttask
            beforeLogon="false"
            breaks="6.2.0"
            class="org.talend.metadata.managment.migration.AddXmiIdForContextItemMigrationTask"
            description="Add XMI Id for context item"
            id="org.talend.metadata.managment.migration.AddXmiIdForContextItemMigrationTask"
            name="Add XMI Id for context item"
            version="6.2.0">
      </projecttask>
   </extension>

</plugin>
