<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="talend"
            id="logImageCache"
            name="Log image cache"/>
      <command
            categoryId="talend"
            id="reloadSystemRoutines"
            name="Reload system routines"/>
      <command
            categoryId="talend"
            id="logActiveContexts"
            name="Log active contexts"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="logImageCache"
            contextId="talend.global"
            schemeId="org.talend.core.scheme"
            sequence="CTRL+SHIFT+F2"/>
      <key
            commandId="reloadSystemRoutines"
            contextId="talend.global"
            schemeId="org.talend.core.scheme"
            sequence="CTRL+SHIFT+F5"/>
      <key
            commandId="logActiveContexts"
            contextId="talend.global"
            schemeId="org.talend.core.scheme"
            sequence="CTRL+SHIFT+F6"/>
   </extension>
   <extension
         point="org.talend.core.global_actions">
      <GlobalAction class="org.talend.core.model.action.LogImageCacheAction"/>
      <GlobalAction class="org.talend.helpers.ui.actions.LogActiveContextsAction"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="helpers"
            label="helpers"
            >
         <menu
               id="talend"
               label="Talend">
            <separator name="helpers"/>
         </menu>
         <action
               class="org.talend.helpers.ui.actions.LogLoadedComponentsAction"
               id="org.talend.helpers.logLoadedComponentsAction"
               label="Log loaded components"
               style="push"
               toolbarPath="helpers"/>
         <action
               class="org.talend.helpers.ui.actions.LogActiveContextsAction"
               id="org.talend.helpers.logActiveContextsAction"
               label="Log active contexts"
               style="push"
               toolbarPath="helpers"/>
      </actionSet>
   </extension>
</plugin>
