<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.talend.core.runtime.librariesNeeded">
        <libraryNeeded
              context="plugin:org.talend.libraries.jdbc.mysql"
              language="java"
              message="Needed for Mysql jdbc plugin"
              name="mysql-connector-java-5.1.30-bin.jar" mvn_uri="mvn:org.talend.libraries/mysql-connector-java-5.1.30-bin/6.0.0" 
              required="true">
        </libraryNeeded>
        <libraryNeeded
              context="plugin:org.talend.libraries.jdbc.mysql"
              language="java"
              message="Needed for Mysql jdbc plugin"
              mvn_uri="mvn:org.talend.libraries/mariadb-java-client-1.1.7/6.0.0"
              name="mariadb-java-client-1.1.7.jar"
              required="true">
        </libraryNeeded>
        <libraryNeeded
              context="plugin:org.talend.libraries.jdbc.mysql"
              language="java"
              message="Needed for Mysql jdbc plugin"
              mvn_uri="mvn:org.talend.libraries/mysql-connector-java-3.1.14-bin/6.0.0"
              name="mysql-connector-java-3.1.14-bin.jar"
              required="true">
        </libraryNeeded>
    </extension>
</plugin>
