<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.talend.core.runtime.librariesNeeded">
        <libraryNeeded
              context="plugin:org.talend.libraries.jdbc.mysql"
              language="java"
              message="Needed for Mysql jdbc plugin"
              name="mysql-connector-java-5.1.30-bin.jar" mvn_uri="mvn:org.talend.libraries/mysql-connector-java-5.1.30-bin/6.0.0" 
              required="true">
        </libraryNeeded>
    </extension>
</plugin>
