<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.talend.rcp.perspective">
         <actionSet
               id="org.talend.repository.CreateactionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>

   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.repository.metadata.MetadataService"
            serviceId="IMetadataService">
      </Service>
   </extension>
   <extension
         point="org.talend.core.migrationTask">
      <projecttask
            beforeLogon="false"
            breaks="5.1.1"
            class="org.talend.repository.metadata.migration.AddRulesGlobalMapMigrationTask"
            description="modify metadata"
            id="org.talend.repository.AddRulesGlobalMapMigrationTask"
            name="AddRulesGlobalMapMigrationTask"
            version="5.1.2">
      </projecttask>
      
      <projecttask
            beforeLogon="false"
            breaks="5.0.0"
            class="org.talend.repository.metadata.migration.CorrectDBVersionListForAS400"
            description="Correct the DB Version list for as400 in DB wizard, please see TDI-30337"
            id="org.talend.repository.model.migration.CorrectDBVersionListForAS400"
            name="CorrectDBVersionListForAS400"
            version="5.6.0">
      </projecttask>
      <projecttask
            beforeLogon="false"
            breaks="5.6.0"
            class="org.talend.repository.metadata.migration.UnifyPasswordEncryption4LdapConnectionMigrationTask"
            description="Unify the entryption for LDAP password field"
            id="org.talend.repository.model.migration.UnifyPasswordEncryption4LdapConnectionMigrationTask"
            name="UnifyPasswordEncryption4LdapConnectionMigrationTask"
            version="5.6.0">
      </projecttask>
      <projecttask
            beforeLogon="false"
            breaks="5.6.0"
            class="org.talend.repository.metadata.migration.UnifyPasswordEncryption4SalesforceSchemaConnectionMigrationTask"
            description="Unify the entryption for Salesforce password fields"
            id="org.talend.repository.model.migration.UnifyPasswordEncryption4SalesforceSchemaConnectionMigrationTask"
            name="UnifyPasswordEncryption4SalesforceSchemaConnectionMigrationTask"
            version="5.6.0">
      </projecttask>
      <projecttask
            beforeLogon="false"
            breaks="5.6.0"
            class="org.talend.repository.metadata.migration.UnifyPasswordEncryption4WsdlConnectionMigrationTask"
            description="Unify the entryption for WSDL password fields"
            id="org.talend.repository.model.migration.UnifyPasswordEncryption4WsdlConnectionMigrationTask"
            name="UnifyPasswordEncryption4WsdlConnectionMigrationTask"
            version="5.6.0">
      </projecttask>
   </extension>
   <extension
         point="org.talend.core.repositoryContextualsActions">
      <Action
            class="org.talend.repository.metadata.ui.actions.metadata.CreateConnectionAction"
            id="org.talend.repository.actions.createconnection"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create connection">
      </Action>
      <Action
            class="org.talend.repository.metadata.ui.actions.metadata.CreateTableAction"
            id="org.talend.repository.actions.createtable"
            isEditAction="true"
            level="15"
            name="Metadata/Create table">
      </Action>
      <Action
            class="org.talend.repository.metadata.ui.actions.metadata.ReadTableAction"
            id="org.talend.repository.actions.readtable"
            isReadAction="true"
            level="18"
            name="Metadata/Read table">
      </Action>
      <Action
            class="org.talend.repository.metadata.ui.actions.metadata.CreateFileDelimitedAction"
            id="org.talend.repository.actions.createfiledelimited"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create file delimited">
      </Action>
      <Action
            class="org.talend.repository.metadata.ui.actions.metadata.CreateFilePositionalAction"
            id="org.talend.repository.actions.createfilepositional"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create file positional">
      </Action>
      <Action
            class="org.talend.repository.metadata.ui.actions.metadata.CreateFileRegexpAction"
            id="org.talend.repository.actions.createfileregexp"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create file regexp">
      </Action>
      <Action
            class="org.talend.repository.metadata.ui.actions.metadata.CreateFileXmlAction"
            id="org.talend.repository.actions.createfilexml"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create file xml">
      	</Action>
      	<Action
            class="org.talend.repository.metadata.ui.actions.metadata.CreateFileLdifAction"
            id="org.talend.repository.actions.createfileldif"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create file ldif">
      	</Action>
       	<Action
            class="org.talend.repository.metadata.ui.actions.metadata.CreateFileExcelAction"
            id="org.talend.repository.actions.createfileexcel"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create file Excel"/>
      	<Action
            class="org.talend.repository.metadata.ui.actions.metadata.CreateSalesforceSchemaAction"
            id="org.talend.repository.actions.createsalesforceschema"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create Salesforce"/>
 		
  		<Action
             class="org.talend.repository.metadata.ui.actions.metadata.CreateGenericSchemaAction"
             id="org.talend.repository.actions.createGenericSchemas"
             isEditAction="true"
             isPropertiesAction="false"
             isReadAction="true"
             level="10"
             name="Metadata/Create generic schemas"/>
       <Action
             class="org.talend.repository.metadata.ui.actions.metadata.CreateLDAPSchemaAction"
             id="org.talend.repository.actions.createLDAPSchema"
             isEditAction="true"
             isReadAction="true"
             level="10"
             name="Metadata/Create LDAP schemas">
       </Action>
       <Action
             class="org.talend.repository.metadata.ui.actions.metadata.CreateWSDLSchemaAction"
             id="org.talend.repository.actions.createWSDLSchema"
             isEditAction="true"
             isReadAction="true"
             level="10"
             name="Metadata/Create WSDL schemas">
       </Action>
        <Action
            class="org.talend.repository.metadata.ui.actions.metadata.CreateSalesforceModulesAction"
            id="org.talend.repository.actions.createSalesforceModulesAction"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create Salesforce Modules"/>
      <Action
            class="org.talend.repository.metadata.ui.actions.metadata.CreateSalesforceSchemasAction"
            id="org.talend.repository.actions.CreateSalesforceSchemasAction"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create Salesforce Schemas"/>
     <Action
           class="org.talend.repository.metadata.ui.actions.metadata.ImportSchemaFileAction"
           id="org.talend.repository.actions.ImportSchemaFileAction"
           isEditAction="true"
           isPropertiesAction="false"
           isReadAction="true"
           level="10"
           name="Metadata/Create generic schema from xml"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.talend.repository.CreateactionSet"
            label="Action set"
            visible="false">
         <action
               class="org.talend.repository.metadata.ui.actions.toolbar.CreateToolbarItemAction"
               icon="icons/process_icon.gif"
               id="org.talend.repository.repositoryitem.createJob"
               label="Create"
               style="pulldown"
               toolbarPath="Default"
               tooltip="Create">
               <enablement>
               <systemProperty
                     name="ReadOnlyUser"
                     value="false">
               </systemProperty>
               </enablement>
         </action>
      </actionSet>
   </extension>
   
   <extension
         point="org.talend.core.repository.repositorySeeker">
      <seeker
            class="org.talend.repository.metadata.seeker.NormalMetadatasRepositorySeeker"
            name="Normal Metadatas">
      </seeker>
   </extension>
   <extension
         point="org.talend.core.repository.repository_node_provider">
      <repositoryNode
            alias="%repository.metadataConnections.alias"
            folder="metadata/connections"
            isResouce="true"
            key="repository.metadataConnections"
            label="%repository.metadataDbConnection"
            ordinal="31"
            parentNodeType="METADATA"
            products="DI"
            type="METADATA_CONNECTIONS">
      </repositoryNode>
      <repositoryNode
            alias="%repository.metadataFileDelimited.alias"
            folder="metadata/fileDelimited"
            isResouce="true"
            key="repository.metadataFileDelimited"
            label="%repository.metadataFileDelimited"
            ordinal="39"
            parentNodeType="METADATA"
            products="DI"
            type="METADATA_FILE_DELIMITED">
      </repositoryNode>
       <repositoryNode
             alias="%repository.metadataFilePositional.alias"
             folder="metadata/filePositional"
             isResouce="true"
             key="repository.metadataFilePositional"
             label="%repository.metadataFilePositional"
             ordinal="40"
             parentNodeType="METADATA"
             products="DI"
             type="METADATA_FILE_POSITIONAL">
       </repositoryNode>

       <repositoryNode
             alias="%repository.metadataFileRegexp.alias"
             folder="metadata/fileRegex"
             isResouce="true"
             key="repository.metadataFileRegexp"
             label="%repository.metadataFileRegexp"
             ordinal="41"
             parentNodeType="METADATA"
             products="DI"
             type="METADATA_FILE_REGEXP">
       </repositoryNode>

       <repositoryNode
             alias="%repository.metadataFileXml.alias"
             folder="metadata/fileXml"
             isAllowMultiName="true"
             isResouce="true"
             key="repository.metadataFileXml"
             label="%repository.metadataFileXml"
             ordinal="42"
             parentNodeType="METADATA"
             products="DI"
             type="METADATA_FILE_XML">
       </repositoryNode>

       <repositoryNode
             alias="%repository.metadataFileLdif.alias"
             folder="metadata/fileLdif"
             isResouce="true"
             key="repository.metadataFileLdif"
             label="%repository.metadataFileLdif"
             ordinal="43"
             parentNodeType="METADATA"
             products="DI"
             type="METADATA_FILE_LDIF">
       </repositoryNode>

       <repositoryNode
             alias="%repository.metadataFileExcel.alias"
             folder="metadata/fileExcel"
             isResouce="true"
             key="repository.metadataFileExcel"
             label="%repository.metadataFileExcel"
             ordinal="44"
             parentNodeType="METADATA"
             products="DI"
             type="METADATA_FILE_EXCEL">
       </repositoryNode>

       <repositoryNode
             alias="%repository.metadataSalesforceSchema.alias"
             folder="metadata/SalesforceSchema"
             isResouce="true"
             key="repository.metadataSalesforceSchema"
             label="%repository.metadataSalesforceSchema"
             ordinal="45"
             parentNodeType="METADATA"
             products="DI"
             type="METADATA_SALESFORCE_SCHEMA">
       </repositoryNode>

       <repositoryNode
             alias="%repository.metadataLDAPSchema.alias"
             folder="metadata/LDAPSchema"
             isResouce="true"
             key="repository.metadataLDAPSchema"
             label="%repository.metadataLDAPSchema"
             ordinal="47"
             parentNodeType="METADATA"
             products="DI"
             type="METADATA_LDAP_SCHEMA">
       </repositoryNode>
       
       <repositoryNode
             alias="%repository.metadataWSDLSchema.alias"
             folder="metadata/WSDLSchema"
             isResouce="true"
             key="repository.metadataWSDLSchema"
             label="%repository.metadataWSDLSchema"
             ordinal="57"
             parentNodeType="METADATA"
             products="DI"
             type="METADATA_WSDL_SCHEMA">
       </repositoryNode>
       
       <repositoryNode
             alias="%repository.metadataGenericSchema.alias"
             folder="metadata/genericSchema"
             isResouce="true"
             key="repository.metadataGenericSchema"
             label="%repository.metadataGenericSchema"
             ordinal="46"
             parentNodeType="METADATA"
             products="DI"
             type="METADATA_GENERIC_SCHEMA">
       </repositoryNode>

   </extension>
   <extension
         point="org.talend.repository.items.importexport.handler">
      <importItemsProvider
            description="Dbs, Files"
            id="org.talend.repository.metadata.importProvider.some"
            name="Metadatas Import"
            priority="LOW">
         <importItemsHandler
               class="org.talend.repository.metadata.importexport.SomeMetadatasImportHandler">
            <parameter
                  name="type"
                  value="METADATA_CONNECTIONS,METADATA_FILE_DELIMITED,METADATA_FILE_POSITIONAL,METADATA_FILE_REGEXP,METADATA_FILE_XML,METADATA_FILE_LDIF,METADATA_FILE_EXCEL,METADATA_SALESFORCE_SCHEMA,METADATA_LDAP_SCHEMA,METADATA_WSDL_SCHEMA,METADATA_GENERIC_SCHEMA">
            </parameter>
         </importItemsHandler>
      </importItemsProvider>
   </extension>
   <extension
         point="org.talend.core.runtime.repositoryComponent_provider">
      <RepositoryComponent
            input="tImpalaInput"
            name="IMPALA"
            output="tImpalaOutput"
            withSchema="true">
         <Item
               clazz="org.talend.core.model.properties.DatabaseConnectionItem">
         </Item>
         <DBType
               type="Impala">
         </DBType>
      </RepositoryComponent>
   </extension>

</plugin>
