<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.talend.org/xmlmap"
            class="org.talend.designer.xmlmap.model.emf.xmlmap.XmlmapPackage"
            genModel="model/xmlmap.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="xmlmap"
            class="org.talend.designer.xmlmap.model.emf.xmlmap.util.XmlmapResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.talend.core.external_component">
      <ExternalComponent
            class="org.talend.designer.xmlmap.XmlMapComponent"></ExternalComponent>
   </extension>

</plugin>
