<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="service" name="Service Registration" schema="schema/service.exsd"/>
   <extension-point id="dq_EMFModel_provider" name="dq emf model" schema="schema/dq_EMFModel_provider.exsd"/>
   <extension-point id="filepreview_provider" name="File Preview Provider" schema="schema/filepreview_provider.exsd"/>
   <extension-point id="tokenInfo_provider" name="Token Info" schema="schema/tokenInfo_provider.exsd"/>
   <extension-point id="check_servers" name="Check servers" schema="schema/check_servers.exsd"/>
   <extension-point id="repositoryComponent_provider" name="Repository Component Provider" schema="schema/repositoryComponent_provider.exsd"/>
   <extension-point id="hidePreferencePages_provider" name="Hide Preference Pages" schema="schema/hidePreferencePages_provider.exsd"/>
   <extension-point id="classloader_provider" name="Classloader Provider" schema="schema/classloader_provider.exsd"/>
   <extension-point id="librariesNeeded" name="librariesNeeded" schema="schema/librariesNeeded.exsd"/>
   <extension-point id="demoProjects_provider" name="Demo Projects Provider" schema="schema/demoProjects_provider.exsd"/>
   <extension-point id="itemRelationship" name="ItemRelationship" schema="schema/itemRelationship.exsd"/>
   <extension-point id="buildExport_provider" name="Build Export Provider" schema="schema/buildExport_provider.exsd"/>
   <extension-point id="updateManager_provider" name="Update Manager " schema="schema/updateManager_provider.exsd"/>
   <extension-point id="org.talend.migration.task.type.extension" name="Migration task type extension" schema="schema/migrationTaskTypeExtension.exsd"/>
   <extension-point id="migration_check" name="migration_check" schema="schema/migration_check.exsd"/>
   <extension
         point="org.eclipse.ui.views">
               <category
            id="org.talend.core.root"
            name="Talend"/>
   </extension>

      <extension
         point="org.talend.core.runtime.repositoryComponent_provider">
      <DragAndDropFilter
            clazz="org.talend.core.repository.DefaultRepositoryComponentDndFilter"
            id="org.talend.repository.DefaultRepositoryComponentDndFilter"
            level="-1"
            name="Default Filter">
      </DragAndDropFilter>
      <SortedComponents
            description="sort the input &amp; output component"
            name="Input/Output">
         <Component
               description="match all input components"
               id="org.talend.core.input"
               level="2"
               pattern="Input">
         </Component>
         <Component
               description="match all output components"
               id="org.talend.core.output"
               level="1"
               pattern="Output">
         </Component>
      </SortedComponents>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="talend"
            name="Talend">
      </category>
   </extension>
</plugin>
