<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="repository_provider" name="Repository provider" schema="schema/repository_provider.exsd"/>
   <extension-point id="resource_change" name="resource change" schema="schema/resource_change.exsd"/>
   <extension-point id="repository_node_provider" name="Repository node provider" schema="schema/repository_node.exsd"/>
   <extension-point id="repository_content" name="Repository content" schema="schema/repository_content.exsd"/>
   <extension-point id="connection_provider" name="Connection provider" schema="schema/connection_provider.exsd"/>
   <extension-point id="repository_handler" name="Repository handler" schema="schema/repository_handler.exsd"/>
   <extension-point id="repository_service" name="Repository service" schema="schema/repository_service.exsd"/>
   <extension-point id="metadata_provider" name="Metadata provider" schema="schema/metadata_provider.exsd"/>

   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.core.repository.ProxyRepositoryService"
            serviceId="IProxyRepositoryService">
      </Service>
   </extension>
   <extension
         point="org.talend.core.repositoryContextualsActions">
       <Action
            class="org.talend.repository.ui.actions.DeleteTableAction"
            id="org.talend.repository.actions.deletetable"
            level="40"
            name="Metadata/Delete table"/>
        <Action
            class="org.talend.repository.ui.actions.DeleteAction"
            id="org.talend.repository.actions.delete"
            level="40"
            name="Delete"/>
      <Action
            class="org.talend.repository.ui.actions.RestoreAction"
            id="org.talend.repository.actions.restore"
            level="40"
            name="Restore"/>
      <Action
            class="org.talend.repository.ui.actions.EmptyRecycleBinAction"
            id="org.talend.repository.actions.emptyrecyclebin"
            name="Empty recycle bin"/>
      <Action
            class="org.talend.repository.ui.actions.CopyAction"
            id="org.talend.repository.actions.copy"
            level="50"
            name="Copy"/>
      <Action
            class="org.talend.repository.ui.actions.PasteAction"
            id="org.talend.repository.actions.paste"
            level="55"
            name="Paste"/>
       <Action
             class="org.talend.repository.ui.actions.DuplicateAction"
             id="org.talend.repository.actions.duplicate"
             level="50"
             name="Duplicate">
       </Action>     
   </extension>

</plugin>
