<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

    <extension
          point="org.eclipse.e4.ui.css.swt.theme">
       <theme
             basestylesheeturi="themes/default/css/default.css"
             id="org.talend.themes.css.talend.default"
             label="Talend default theme">
       </theme>
    </extension>

</plugin>
