<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.core.runtime.librariesNeeded">
      <libraryNeeded
            context="plugin:org.talend.libraries.mdm"
            mvn_uri="mvn:org.talend.libraries/cxf-core-3.1.1/6.0.0"
            name="cxf-core-3.1.1.jar"
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.cxf/lib/cxf-core-3.1.1.jar">
      </libraryNeeded>
      <libraryNeeded
            context="plugin:org.talend.libraries.mdm"
            mvn_uri="mvn:org.talend.libraries/cxf-rt-bindings-soap-3.1.1/6.0.0"
            name="cxf-rt-bindings-soap-3.1.1.jar"
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.cxf/lib/cxf-rt-bindings-soap-3.1.1.jar">
      </libraryNeeded>
     <libraryNeeded
            context="plugin:org.talend.libraries.mdm"
            mvn_uri="mvn:org.talend.libraries/cxf-rt-databinding-jaxb-3.1.1/6.0.0"
            name="cxf-rt-databinding-jaxb-3.1.1.jar"
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.cxf/lib/cxf-rt-databinding-jaxb-3.1.1.jar">
      </libraryNeeded>
      <libraryNeeded
            context="plugin:org.talend.libraries.mdm"
            mvn_uri="mvn:org.talend.libraries/cxf-rt-frontend-jaxws-3.1.1/6.0.0"
            name="cxf-rt-frontend-jaxws-3.1.1.jar"
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.cxf/lib/cxf-rt-frontend-jaxws-3.1.1.jar">
      </libraryNeeded>
      <libraryNeeded
            context="plugin:org.talend.libraries.mdm"
            mvn_uri="mvn:org.talend.libraries/cxf-rt-frontend-simple-3.1.1/6.0.0"
            name="cxf-rt-frontend-simple-3.1.1.jar"
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.cxf/lib/cxf-rt-frontend-simple-3.1.1.jar">
      </libraryNeeded>
      <libraryNeeded
            context="plugin:org.talend.libraries.mdm"
            mvn_uri="mvn:org.talend.libraries/cxf-rt-transports-http-3.1.1/6.0.0"
            name="cxf-rt-transports-http-3.1.1.jar"
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.cxf/lib/cxf-rt-transports-http-3.1.1.jar">
      </libraryNeeded>
      <libraryNeeded
            context="plugin:org.talend.libraries.mdm"
            mvn_uri="mvn:org.talend.libraries/cxf-rt-ws-security-3.1.1/6.0.0"
            name="cxf-rt-ws-security-3.1.1.jar"
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.cxf/lib/cxf-rt-ws-security-3.1.1.jar">
      </libraryNeeded>
      <libraryNeeded
            context="plugin:org.talend.libraries.mdm"
            mvn_uri="mvn:org.talend.libraries/cxf-rt-wsdl-3.1.1/6.0.0"
            name="cxf-rt-wsdl-3.1.1.jar"
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.cxf/lib/cxf-rt-wsdl-3.1.1.jar">
      </libraryNeeded>
      <libraryNeeded
            context="plugin:org.talend.libraries.mdm"
            mvn_uri="mvn:org.talend.libraries/jaxb-core-2.2.11/6.0.0"
            name="jaxb-core-2.2.11.jar"
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.cxf/lib/jaxb-core-2.2.11.jar">
      </libraryNeeded>
      <libraryNeeded
            context="plugin:org.talend.libraries.mdm"
            id="jaxb-impl-2.2.11.jar"
            mvn_uri="mvn:org.talend.libraries/jaxb-impl-2.2.11/6.0.0"
            name="jaxb-impl-2.2.11.jar"
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.cxf/lib/jaxb-impl-2.2.11.jar">
      </libraryNeeded>
      <libraryNeeded
            context="plugin:org.talend.libraries.mdm"
            mvn_uri="mvn:org.talend.libraries/stax2-api-3.1.1/6.0.0"
            name="stax2-api-3.1.1.jar"
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.cxf/lib/stax2-api-3.1.1.jar">
      </libraryNeeded>
      <libraryNeeded
            context="plugin:org.talend.libraries.mdm"
            mvn_uri="mvn:org.talend.libraries/woodstox-core-asl-4.4.1/6.0.0"
            name="woodstox-core-asl-4.4.1.jar"
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.cxf/lib/woodstox-core-asl-4.4.1.jar">
      </libraryNeeded>
      <libraryNeeded
            context="plugin:org.talend.libraries.mdm"
            mvn_uri="mvn:org.talend.libraries/neethi-3.0.3/6.0.0"
            name="neethi-3.0.3.jar"
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.cxf/lib/neethi-3.0.3.jar">
      </libraryNeeded>
   </extension>

</plugin>
