<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.talend.core.runtime.librariesNeeded">
      <libraryNeeded
              context="plugin:org.talend.libraries.jfreechart"
              language="java"
              message="Needed for jfreechart plugin"
              name="jcommon-1.0.15.jar" mvn_uri="mvn:org.talend.libraries/jcommon-1.0.15/6.0.0" 
              required="true">
        </libraryNeeded>
        <libraryNeeded
              context="plugin:org.talend.libraries.jfreechart"
              language="java"
              message="Needed for jfreechart plugin"
              name="jfreechart-1.0.12.jar" mvn_uri="mvn:org.talend.libraries/jfreechart-1.0.12/6.0.0" 
              required="true">
        </libraryNeeded>
        <libraryNeeded
              context="plugin:org.talend.libraries.jfreechart"
              language="java"
              message="Needed for jfreechart plugin"
              name="jfreechart-1.0.12-experimental.jar" mvn_uri="mvn:org.talend.libraries/jfreechart-1.0.12-experimental/6.0.0" 
              required="true">
        </libraryNeeded>
        <libraryNeeded
              context="plugin:org.talend.libraries.jfreechart"
              language="java"
              message="Needed for jfreechart plugin"
              name="jfreechart-1.0.12-swt.jar" mvn_uri="mvn:org.talend.libraries/jfreechart-1.0.12-swt/6.0.0" 
              required="true">
        </libraryNeeded>
        <libraryNeeded
              context="plugin:org.talend.libraries.jfreechart"
              language="java"
              message="Needed for jfreechart plugin"
              name="swtgraphics2d.jar" mvn_uri="mvn:org.talend.libraries/swtgraphics2d/6.0.0" 
              required="true">
        </libraryNeeded>
   </extension>
</plugin>
