<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated testContainer -->
      <package
            uri="http://www.talend.com/testContainer.ecore"
            class="testContainer.TestContainerPackage"
            genModel="model/testContainer.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated testContainer -->
      <parser
            type="testcontainer"
            class="testContainer.util.TestContainerResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated testConProperties -->
      <package
            uri="http://www.talend.com/testConProperties.ecore"
            class="org.talend.testcontainer.core.testConProperties.TestConPropertiesPackage"
            genModel="model/testConProperties.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated testConProperties -->
      <parser
            type="testconproperties"
            class="org.talend.testcontainer.core.testConProperties.util.TestConPropertiesResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated testConProperties -->
      <package
            uri="http://www.talend.com/testcontainer.ecore"
            class="org.talend.testcontainer.core.testcontainer.TestcontainerPackage"
            genModel="model/testConProperties.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated testcontainer -->
      <parser
            type="testcontainer"
            class="org.talend.testcontainer.core.testcontainer.util.TestcontainerResourceFactoryImpl"/>
   </extension>
</plugin>
