<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated testcontainer -->
      <package
            uri="http://www.talend.com/testcontainer.ecore"
            class="testcontainer.TestcontainerPackage"
            genModel="model/testcontainer.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated testcontainer -->
      <parser
            type="testcontainer"
            class="testcontainer.util.TestcontainerResourceFactoryImpl"/>
   </extension>

</plugin>
