<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.talend.core.runtime.librariesNeeded">
        <libraryNeeded
              context="plugin:org.talend.libraries.nattable"
              language="java"
              message="Needed for context nattable"
              name="glazedlists_java15-1.9.0.jar"
              required="true">
        </libraryNeeded>
    </extension>
</plugin>
