<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   
  <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.talend.rcp.perspective">
         <actionSet
               id="org.talend.debug.ui.launchActionSet">
         </actionSet>
         <actionSet
               id="org.talend.repository.actionSet">
         </actionSet>
         <actionSet
               id="org.talend.repository.localprovider.actionSet">
         </actionSet>
         <actionSet
               id="org.talend.repository.demoprojcet.actionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="*">
         <hiddenToolBarItem
               id="opengroovyprojectwizard">
         </hiddenToolBarItem>
      </perspectiveExtension>
   </extension>
   
<extension
      point="org.eclipse.ui.commands">
   <command
         id="org.talend.rcp.command.closeIntro"
         name="name">
   </command>
</extension>
<extension
      point="org.eclipse.ui.contexts">
   <context
         id="talend.global"
         name="Default"
         parentId="org.eclipse.ui.contexts.window"/>
</extension>
<extension
      point="org.talend.core.talendperspectives">
   <TalendPerspective
         refPerspectiveId="org.eclipse.debug.ui.DebugPerspective"
         talendPerspectiveId="org.talend.rcp.DebugPerspective"/>
</extension>
<extension
      point="org.talend.core.runtime.service">
   <Service
         class="org.talend.rcp.RcpServices"
         serviceId="IRcpService">
   </Service>
   <Service
         class="org.talend.rcp.intro.ApplicationWorkbenchWindowAdvisor"
         serviceId="WorkbenchService">
   </Service>
</extension>
<extension
      point="org.eclipse.ui.bindings">
   <key
         commandId="org.talend.rcp.command.closeIntro"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="ESC">
   </key>
</extension>
<extension
      point="org.eclipse.ui.editors">
   <editor
         class="org.talend.rcp.intro.starting.StartingBrowser"
         default="false"
         id="org.talend.rcp.intro.starting.StartingBrowser"
         name="starting">
   </editor>
</extension>
<extension
      point="org.eclipse.ui.activities">
   <activity
         id="org.talend.rcp.hideUpdatesite"
         name="Hide Updatesite">
   </activity>
   <activityPatternBinding
         activityId="org.talend.rcp.hideUpdatesite"
         isEqualityPattern="true"
         pattern="org.eclipse.ui.ide.application/org.eclipse.update.ui.updateMenu">
   </activityPatternBinding>
</extension>
<extension
      point="org.eclipse.ui.splashHandlers">
   <splashHandler
         class="org.talend.rcp.TalendSplashHandler"
         id="org.talend.rcp.splashHandler">
   </splashHandler>
</extension>
<extension
      point="org.eclipse.ui.commands">
   <command
         id="org.talend.rcp.show.exportLogs.command"
         name="Export Logs">
   </command>
</extension>
<extension
      point="org.eclipse.ui.handlers">
   <handler
         class="org.talend.rcp.handler.ShowExportLogsWizardHandler"
         commandId="org.talend.rcp.show.exportLogs.command">
   </handler>
</extension>
<extension
      point="org.eclipse.ui.menus">
   <menuContribution
         allPopups="false"
         locationURI="menu:help?after=talend">
      <command
            commandId="org.talend.rcp.show.exportLogs.command"
            id="org.talend.rcp.show.exportLogs.menus.command"
            style="push">
      </command>
   </menuContribution>
   <menuContribution
         allPopups="false"
         locationURI="menu:help?after=org.eclipse.equinox.p2.ui.sdk.install">
      <command
            commandId="org.eclipse.equinox.p2.ui.sdk.install"
            label="Install External Software..."
            style="push">
      </command>
   </menuContribution>
</extension>
<extension
      point="org.eclipse.ui.menus">
   <menuContribution
         allPopups="false"
         locationURI="menu:help?after=additions">
      <menu
            id="talend"
            label="talend">
      </menu>
   </menuContribution>
   <menuContribution
         allPopups="false"
         locationURI="menu:help?before=talend">
      <separator
            name="org.talend.help.spearator.start"
            visible="true">
      </separator>
   </menuContribution>
   <menuContribution
         allPopups="false"
         locationURI="menu:help?after=talend">
      <separator
            name="org.talend.help.spearator.end"
            visible="true">
      </separator>
   </menuContribution>
</extension>
<extension
      point="org.eclipse.ui.menus">
   <menuContribution
         allPopups="false"
         locationURI="menu:help?after=additions">
      <menu
            id="tdq"
            label="tdq">
      </menu>
   </menuContribution>
   <menuContribution
         allPopups="false"
         locationURI="menu:help?before=tdq">
      <separator
            name="org.talend.help.tdq.spearator.start"
            visible="true">
      </separator>
   </menuContribution>
   <menuContribution
         allPopups="false"
         locationURI="menu:help?after=tdq">
      <separator
            name="org.talend.help.tdq.spearator.end"
            visible="true">
      </separator>
   </menuContribution>
</extension>
<extension
      point="org.eclipse.ui.commands">
   <command
         id="org.talend.rcp.show.about.command"
         name="About Talend Studio">
   </command>
</extension>
<extension
      point="org.eclipse.ui.handlers">
   <handler
         class="org.talend.rcp.handler.ShowAboutWizardHandler"
         commandId="org.talend.rcp.show.about.command">
   </handler>
</extension>
<extension
      point="org.eclipse.ui.menus">
   <menuContribution
         allPopups="false"
         locationURI="menu:help?after=additions">
      <command
            commandId="org.talend.rcp.show.about.command"
            id="org.talend.rcp.show.about.menus.command"
            style="push">
      </command>
   </menuContribution>
</extension>
<extension
               point="org.eclipse.ui.activities">
            <activity
                  id="org.talend.rcp.branding.activity.hideMenu"
                  name="hideMenus">
            </activity>
            <activity
                  id="org.talend.rcp.branding.activity.hideView"
                  name="hideViews">
            </activity>
            <activity
                  id="org.talend.rcp.branding.activity.hidePerspective"
                  name="hidePerspective">
            </activity>
            <activity
                  id="org.talend.rcp.branding.activity.hideViewsPostWindowOpen"
                  name="hideViewsPostWindowOpen">
               <enabledWhen>
                  <and>
                     <test
                           forcePluginActivation="true"
                           property="org.talend.rcp.languageUseJavaTest.isUseJava">
                     </test>
                  </and>
               </enabledWhen>
            </activity>
            <activityPatternBinding
                  activityId="org.talend.rcp.branding.activity.hideMenu"
                  isEqualityPattern="true"
                  pattern="org.talend.repository/org.talend.repository.bootTalendAction">
            </activityPatternBinding>
           <activityPatternBinding
                  activityId="org.talend.rcp.branding.activity.hideMenu"
                  pattern="org.eclipse.ui.editors/org.eclipse.ui.edit.text.delimiter.*">
            </activityPatternBinding> 
           <activityPatternBinding
                  activityId="org.talend.rcp.branding.activity.hideMenu"
                  pattern="org.eclipse.ui.editors/org.eclipse.ui.edit.text.goto.*">
            </activityPatternBinding>
            <activityPatternBinding
                  activityId="org.talend.rcp.branding.activity.hideMenu"
                  pattern="org.eclipse.ui.ide/goToResource">
            </activityPatternBinding> 
            <activityPatternBinding
                  activityId="org.talend.rcp.branding.activity.hideMenu"
                  pattern="org.eclipse.ui.ide/org.eclipse.ui.OpenWorkspaceFile">
            </activityPatternBinding> 
            <activityPatternBinding
                  activityId="org.talend.rcp.branding.activity.hideMenu"
                  pattern="org.eclipse.ui.ide/selectWorkingSets">
            </activityPatternBinding>
            <activityPatternBinding
                  activityId="org.talend.rcp.branding.activity.hideMenu"
                  pattern="org.eclipse.search/org.eclipse.search.Open.*">
            </activityPatternBinding>
            <activityPatternBinding
                  activityId="org.talend.rcp.branding.activity.hideMenu"
                  pattern="org.eclipse.search/org.eclipse.search.Text.*">
            </activityPatternBinding>
            <activityPatternBinding
                  activityId="org.talend.rcp.branding.activity.hideMenu"
                  pattern="org.eclipse.ui.externaltools/org.eclipse.ui.run">
            </activityPatternBinding>
            <activityPatternBinding
                  activityId="org.talend.rcp.branding.activity.hideMenu"
                  pattern="org.eclipse.ui.externaltools/org.eclipse.ui.externaltools.ExternalToolMenuDelegate.*">
            </activityPatternBinding>
            <activityPatternBinding
                  activityId="org.talend.rcp.branding.activity.hideMenu"
                  pattern="org.eclipse.ui.externaltools/org.eclipse.ui.externaltools.OpenExternalToolsConfigurations">
            </activityPatternBinding>
            <activityPatternBinding
                  activityId="org.talend.rcp.branding.activity.hideView"
                  pattern=".*/org.eclipse.pde.runtime.RegistryBrowser">
            </activityPatternBinding>
            <activityPatternBinding
                  activityId="org.talend.rcp.branding.activity.hideView"
                  pattern=".*/org.eclipse.pde.ui.DependenciesView">
            </activityPatternBinding>
            <activityPatternBinding
                  activityId="org.talend.rcp.branding.activity.hideView"
                  pattern=".*/org.eclipse.pde.ui.PluginsView">
            </activityPatternBinding>
            <activityPatternBinding
                  activityId="org.talend.rcp.branding.activity.hideView"
                  pattern=".*/org.eclipse.team.sync.views.SynchronizeView">
            </activityPatternBinding>
            <activityPatternBinding
                  activityId="org.talend.rcp.branding.activity.hideView"
                  pattern=".*/org.eclipse.team.ui.GenericHistoryView">
            </activityPatternBinding>
            <activityPatternBinding
                  activityId="org.talend.rcp.branding.activity.hideViewsPostWindowOpen"
                  pattern=".*/org.epic.core.views.browser.BrowserView">
            </activityPatternBinding>
            <activityPatternBinding
                  activityId="org.talend.rcp.branding.activity.hideViewsPostWindowOpen"
                  pattern=".*/org.epic.perleditor.views.ExplainErrorsView">
            </activityPatternBinding>
            <activityPatternBinding
                  activityId="org.talend.rcp.branding.activity.hideViewsPostWindowOpen"
                  pattern=".*/org.epic.perleditor.views.PerlDocView">
            </activityPatternBinding>
            <activityPatternBinding
                  activityId="org.talend.rcp.branding.activity.hideViewsPostWindowOpen"
                  pattern=".*/org.epic.regexp.views.RegExpView">
            </activityPatternBinding>
            <activityPatternBinding
                  activityId="org.talend.rcp.branding.activity.hideViewsPostWindowOpen"
                  pattern=".*/org.eclipse.debug.expressionview">
            </activityPatternBinding>
            <activityPatternBinding
                  activityId="org.talend.rcp.branding.activity.hidePerspective"
                  pattern=".*/org.eclipse.team.ui.TeamSynchronizingPerspective">
            </activityPatternBinding>
     </extension>
<extension
      point="org.eclipse.core.expressions.propertyTesters">
   <propertyTester
         class="org.talend.rcp.test.LanguageUseJavaTest"
         id="org.talend.rcp.languageUseJavaTest"
         namespace="org.talend.rcp.languageUseJavaTest"
         properties="isUseJava"
         type="java.lang.Object">
   </propertyTester>
</extension>
<extension
      point="org.talend.core.ui.showPerspectiveAtStartup">
   <perspective
         id="org.talend.rcp.perspective">
   </perspective>
</extension>
<extension
      point="org.eclipse.e4.ui.css.swt.theme">
   <theme
         basestylesheeturi="themes/default/css/default.css"
         id="org.talend.rcp.themes.default"
         label="Talend default theme">
   </theme>
</extension>
<extension
      point="org.eclipse.e4.ui.css.core.propertyHandler">
   <handler
         adapter="org.talend.rcp.css.custom.css.CSSUserProfileElementAdapter"
         composite="true"
         handler="org.talend.rcp.css.custom.css.TalendTabbedPropertyUserProfileCSSHandler">
      <property-name
            name="color">
      </property-name>
      <property-name
            name="background-color">
      </property-name>
      <property-name
            name="_t-widget-normal-shadow-color">
      </property-name>
      <property-name
            name="_t-widget-dark-shadow-color">
      </property-name>
      <property-name
            name="_t-list-background-color">
      </property-name>
      <property-name
            name="border-visible">
      </property-name>
      <property-name
            name="_t-title-foreground">
      </property-name>
      <property-name
            name="_t-title-background">
      </property-name>
      <property-name
            name="_t-title-bottom-foreground-keyline1">
      </property-name>
      <property-name
            name="_t-title-bottom-foreground-keyline2">
      </property-name>
   </handler>
</extension>
<extension
      point="org.eclipse.e4.ui.css.core.elementProvider">
   <provider
         class="org.talend.rcp.css.custom.css.CSSSWTElementProvider">
      <widget
            class="org.talend.core.ui.properties.tab.TalendTabbedPropertyList"></widget>
      <widget
            class="org.talend.core.ui.properties.tab.TalendTabbedPropertyTitle"></widget>
   </provider>
</extension>
</plugin>
