<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.metadata.managment.ui.MetadataManagmentUiService"
            serviceId="IMetadataManagmentUiService">
      </Service>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.talend.designer.core.ui.preferences.SpecificSettingPreferencePage"
            class="org.talend.core.prefs.ui.MetadataTalendTypePreferencePage"
            id="org.talend.metadata.managment.ui.pref.metadataTalendType"
            name="%metadataofTalendType">
      </page>
      <page
            category="org.talend.designer.core.ui.preferences.SpecificSettingPreferencePage"
            class="org.talend.core.prefs.ui.MetadataTypeLengthPreferencePage"
            id="org.talend.metadata.managment.ui.pref.defaultMetadataTypeAndLength"
            name="%defaultTypeAndLength">
      </page>
   </extension>

</plugin>
