<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="mavenSetting" name="MavenSetting" schema="schema/mavenSetting.exsd"/>
   <extension
         point="org.talend.designer.maven.mavenSetting">
      <ProjectSettingManager
            class="org.talend.designer.maven.setting.DefaultProjectSettingManagerProvider">
      </ProjectSettingManager>
      <TemplateManager
            class="org.talend.designer.maven.setting.DefaultMavenTemplateManager">
      </TemplateManager>
   </extension>

</plugin>
